<div class="main-container">
  <div class="page-title d-flex justify-content-between">
    <span class="xs-title">Dynamic Widgets</span>
  </div>
  
  <div class="card border-0 mb-2 card-shadow">
    <form [formGroup]="DynamicWidgetForm">
      <div class="card-body position-relative">

        <div class="row">
          <div class="col-sm-7">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Widget Name</label>
                <input type="text" class="form-control" formControlName="WidgetName" />
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="WidgetTitle" />
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Page Type</label>
                <select formControlName="PageType" (change)="onPageTypeSelected($event)" class="form-control">
                  <option *ngFor="let pt of pageTypeList" [value]="pt.Identifier">{{pt.PageTypeName}}</option>
                </select>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Entity</label>
                <select formControlName="Entity" (change)="onEntitySelected($event)" class="form-control">
                  <option *ngFor="let pt of entityList" [value]="pt.Identifier">{{pt.Name}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label>Widget Type</label><span class="text-danger ml-2">*</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 form-group">
                <!--repeat start-->
                <div class="widget-card-small widget-card">
                  <div class="hide-radio widget-icons">
                    <label>
                      <input type="radio" name="widgetType" id="inputWidgetForm" (click)="setWidgetType('Form')" [checked]="selectedLink=='Form'">
                      <span class="fa fa-list-alt"></span>
                    </label>
                  </div>
                  <label class="text-center width100 pt-2 m-0 widget-name">Form</label>
                </div>
                <!--repeat end-->
                <!--repeat start-->
                <div class="widget-card-small widget-card">
                  <div class="hide-radio widget-icons">
                    <label>
                      <input type="radio" name="widgetType" id="inputWidgetTable" (click)="setWidgetType('Table')" [checked]="selectedLink=='Table'">
                      <span class="fa fa-table"></span>
                    </label>
                  </div>
                  <label class="text-center width100 pt-2 m-0 widget-name">Table</label>
                </div>
                <!--repeat end-->
                <!--repeat start-->
                <div class="widget-card-small widget-card">
                  <div class="hide-radio widget-icons">
                    <label>
                      <input type="radio" name="widgetType" id="inputWidgetLineGraph" (click)="setWidgetType('LineGraph')" [checked]="selectedLink=='LineGraph'">
                      <span class="fa fa-line-chart"></span>
                    </label>
                  </div>
                  <label class="text-center width100 pt-2 m-0 widget-name">Line Graph</label>
                </div>
                <!--repeat end-->
                <!--repeat start-->
                <div class="widget-card-small widget-card">
                  <div class="hide-radio widget-icons">
                    <label>
                      <input type="radio" name="widgetType" id="inputWidgetBarGraph" (click)="setWidgetType('BarGraph')" [checked]="selectedLink=='BarGraph'">
                      <span class="fa fa-bar-chart"></span>
                    </label>
                  </div>
                  <label class="text-center width100 pt-2 m-0 widget-name">Bar Graph</label>
                </div>
                <!--repeat end-->
                <!--repeat start-->
                <div class="widget-card-small widget-card">
                  <div class="hide-radio widget-icons">
                    <label>
                      <input type="radio" name="widgetType" id="inputWidgetPieChart" (click)="setWidgetType('PieChart')" [checked]="selectedLink=='PieChart'">
                      <span class="fa fa-pie-chart"></span>
                    </label>
                  </div>
                  <label class="text-center width100 pt-2 m-0 widget-name">Pie Chart</label>
                </div>
                <!--repeat end-->
                <!--repeat start-->
                <div class="widget-card-small widget-card">
                  <div class="hide-radio widget-icons">
                    <label>
                      <input type="radio" name="widgetType" id="inputWidgetHtml" (click)="setWidgetType('Html')" [checked]="selectedLink=='Html'">
                      <span class="fa fa-code"></span>
                    </label>
                  </div>
                  <label class="text-center width100 pt-2 m-0 widget-name">HTML</label>
                </div>
                <!--repeat end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card border-0 mt-4 mb-3 bg-transparent">
    <div class="card-body p-0">
      <button class="btn-footer-fill mr-2" id="btnSave" [disabled]="disableSave()" (click)="saveWidgetDetails()">Save </button>
      <button class="btn-footer-fill mr-2" id="btnNext" [disabled]="disableSave()" (click)="navigationToDesigner()">Next </button>
      <button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>
    </div>
  </div>
</div>

