<div class="main-container position-relative">
  <div class="page-title d-flex justify-content-md-between justify-content-end">
    <div class="xs-title">
      <span class="mr-2">Statement Definitions</span>
      <span class="icon-filter filter-btn" id="spnFilter" (click)="isFilter=!isFilter"></span>
    </div>
    <div>
      <button class="btn-add btn-cust" id="btnAddUsers" (click)="navigateToStatementAdd()"
              *ngIf="((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Statement Definitions',Operation: 'Create' }))">
        <span class="fa fa-plus btn-icon-cust btn-icon-fill"></span> Statement Definition
      </button>

    </div>
  </div>
  <!--desktop view start-->
  <div class="card border-0 mb-3 card-shadow">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-4">
        <div class="pagination-mat position-relative">
          <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
          </mat-paginator>
        </div>
      </div>
      <div class="widget-area-grid padding-0">
        <table mat-table [dataSource]="dataSource" matSort class="table-cust" (matSortChange)="sortData($event)">
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th class="width20 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element">{{element.Name}}</td>
          </ng-container>
          <ng-container matColumnDef="owner">
            <th class="width15 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
            <td mat-cell *matCellDef="let element">{{element.StatementOwnerName}} </td>
          </ng-container>
          <ng-container matColumnDef="publishedBy">
            <th class="width15 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Published By </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.Status=='Published'">{{element.StatementPublishedByUserName}}</span>
              <span *ngIf="element.Status=='New'">-</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th class="width15 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Published Date </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.Status=='Published'">{{element.PublishedOn | date:"dd/MM/yyyy h:mm a"}}</span>
              <span *ngIf="element.Status=='New'">-</span>

            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th class="width15 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element">
              <span class="badge badge-primary p-1" *ngIf="element.Status=='New'">{{element.Status}}</span>
              <span class="badge badge-success p-1" *ngIf="element.Status=='Published'">{{element.Status}}</span>
              <span class="badge badge-warning p-1 text-white" *ngIf="element.Status=='In Process'">{{element.Status}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th class="width20 ip-w-25" mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <div class="action-btns btn-tbl-action">
                <button type="button" id="btnViewRole" title="View" (click)="navigateToStatementView(element)"
                        *ngIf="((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Statement Definitions',Operation: 'View' }))">
                  <span class="fa fa-file-text-o"></span>
                </button>
                <button type="button" id="btnUpdateRole" title="Update" (click)="navigateToStatementEdit(element)"
                        *ngIf="element.Status!='Published' && ((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Statement Definitions',Operation: 'Edit' }))">
                  <span class="fa fa-pencil-square-o"></span>
                </button>
                <button type="button" id="btnDeleteRole" title="Delete" (click)="deleteStatement(element)"
                        *ngIf="element.Status!='Published' && ((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Statement Definitions',Operation: 'Delete' }))">
                  <span class="fa fa-trash-o"></span>
                </button>
                <button type="button" title="Publish" *ngIf="element.Status!='Published'" (click)="PublishStatement(element)" id="btnDelete"><span class="fa fa-share"></span></button>
                <button type="button" title="Preview" id="btnDelete" data-toggle="modal" data-target="#resourcePreview"><span class="fa fa-eye"></span></button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <!--desktop view end-->
  <!--preview-->
  <div class="modal fade cust-modal bd-example-modal-lg" id="resourcePreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-1 text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <img src="assets/images/dummy.PNG" />
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="StatementFilterForm">
    <div class="filter-popup" [ngClass]="!isFilter? 'filter-popup':'filter-popup-show'">
      <div class="filter-head">
        <label class="m-0">Apply Filter</label>
      </div>
      <div class="filter-body-left d-flex flex-column stylescrollbar">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" id="filterDisplayName" formControlName="filterDisplayName">
        </div>
        <div class="form-group">
          <label>Owner</label>
          <input type="text" class="form-control" id="filterOwner" formControlName="filterOwner">
        </div>
        <div class="form-group">
          <label>Status</label>
          <select class="form-control" formControlName="filterStatus" id="filterStatus">
            <option value="0" selected> Select Status</option>
            <option value="New">New</option>
            <option value="Published">Published</option>
          </select>
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <div class="position-relative">
            <input [owlDateTime]="dt" class="form-control" id="inputFromDate" formControlName="filterPublishedOnFromDate"
                   placeholder="Please select start date" readonly (ngModelChange)="onPublishedFilterDateChange($event)">
            <span [owlDateTimeTrigger]="dt" class="datetime-icon">
              <i class="fa fa-calendar"></i>
            </span>
            <owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
          </div>
          <div class="text-danger" *ngIf="filterFromDateError">
            {{filterFromDateErrorMessage}}
          </div>
        </div>
        <div class="form-group">
          <div class="position-relative">
            <input [owlDateTime]="dt1" class="form-control" id="inputToDate" formControlName="filterPublishedOnToDate"
                   placeholder="Please select end date" readonly (ngModelChange)="onPublishedFilterDateChange($event)">
            <span [owlDateTimeTrigger]="dt1" class="datetime-icon">
              <i class="fa fa-calendar"></i>
            </span>
            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
          </div>
          <div class="text-danger" *ngIf="filterToDateError">
            {{filterToDateErrorMessage}}
          </div>
        </div>
      </div>
      <!--[ngClass]="filterClass"-->
      <div class="filter-footer">
        <ul class="nav">
          <li class="nav-item width33" title="Search" >
            <button class="btn-footer-fill btn-block rounded-0 height100" [disabled]="filterToDateError || filterFromDateError" (click)="searchStatementRecordFilter('search')">
              <span class="fa fa-check"></span>
            </button>
          </li>
          <li class="nav-item width33" title="Reset"  (click)="searchStatementRecordFilter('reset')">
            <a class="nav-link p-0"  >
              <span class="fa fa-refresh"></span>
            </a>
          </li>
          <li class="nav-item width33" title="Close" (click)="closeFilter()">
            <a class="nav-link p-0"  >
              <span class="fa fa-close"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>

<div class="overlay" [ngClass]="!isFilter? 'hide':'show'"></div>

