<div class="main-container position-relative">
  <div class="page-title d-flex justify-content-md-between justify-content-end">
    <div class="xs-title">
      <span class="mr-2">Data Hub</span>
      <!-- <span class="icon-filter filter-btn" id="spnFilter" (click)="isFilter=!isFilter"></span> -->
    </div>
  </div>
  <!--desktop view start-->
  <div class="dash-out">
    <div class="card card-bg-1 card-tile">
      <div class="icon-production-plan-line2 dash-icon-bg-1 dash-icon"></div>
      <div class="dash-in">
        <h5 class="mb-0"></h5>
        <div class="font20">Data Definition</div>
      </div>
    </div>
    <div class="card card-bg-2 card-tile filter-btn" (click)="navigateToListETLSchedule()">
      <div class="icon-line-dashboard2 dash-icon-bg-2 dash-icon"></div>
      <div class="dash-in">
        <h5 class="mb-0"></h5>
        <div class="font20">ETL Management</div>
      </div>
    </div>
    <div class="card card-bg-3 card-tile">
      <div class="icon-operation-parameter-line2 dash-icon-bg-3 dash-icon"></div>
      <div class="dash-in">
        <h5 class="mb-0"></h5>
        <div class="font20">Data Archival</div>
      </div>
    </div>
    <div class="card card-bg-4 card-tile">
      <div class="icon-reportGenerations2 dash-icon-bg-4 dash-icon"></div>
      <div class="dash-in">
        <h5 class="mb-0"></h5>
        <div class="font20">Reports</div>
      </div>
    </div>
  </div>  

  <!--desktop view end-->
</div>