<div class="main-container position-relative">
  <div class="page-title d-flex justify-content-md-between justify-content-end">
    <div class="xs-title">
      <span class="mr-2"> Analytics</span>
      <span class="icon-filter filter-btn" id="spnFilter" (click)="isFilter=!isFilter"></span>
    </div>
    <div>
      <button class="btn-add btn-cust" id="btnAddUsers" routerLink="../sourceData">
        <span class="fa fa-file-excel-o btn-icon-cust btn-icon-fill"></span> Source Data
      </button>

    </div>
  </div>
  <!--desktop view start-->
  <div class="row">
    <div class="col-sm-6 form-group">
      <div class="card border-0 mb-3 card-shadow">
        <div class="card-header bg-white d-flex justify-content-between">
          <label class="m-0">Datewise Visitor for Pages</label>
        </div>
        <div class="card-body">
          <div id="chartDatewisecontainer"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 form-group">
      <div class="card border-0 mb-3 card-shadow">
        <div class="card-header bg-white d-flex justify-content-between">
          <label class="m-0">Widget Visitors for day</label>
        </div>
        <div class="card-body">
          <div id="chartWidgetPiecontainer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
      <div class="card border-0 mb-3 card-shadow">
        <div class="card-header bg-white d-flex justify-content-between">
          <div>
            <label class="m-0"> Visitor for days</label>
          </div>
          <div>
            <div>
              <div class="position-relative">
                <input [owlDateTime]="dt3" class="form-control" id="inputToDate">
                <span [owlDateTimeTrigger]="dt3" class="datetime-icon">
                  <i class="fa fa-calendar"></i>
                </span>
                <owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="chartDaywisecontainer"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 form-group">
      <div class="card border-0 mb-3 card-shadow">
        <div class="card-header bg-white d-flex justify-content-between">
          <div>
            <label class="m-0">Visitor for Page Widget</label>
          </div>
          <div>
            <div>
              <select typeof="text" class="form-control">
                <option selected>Select Page</option>
                <option>Home</option>
                <option>Saving Account</option>
                <option>Current Account</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="chartPageWidgetwisecontainer"></div>
        </div>
      </div>
    </div>
 
  </div>
  <!--desktop view end-->

  <div class="filter-popup" [ngClass]="!isFilter? 'filter-popup':'filter-popup-show'">
    <div class="filter-head">
      <label class="m-0">Apply Filter</label>
    </div>
    <div class="filter-body-left d-flex flex-column stylescrollbar">
      <div class="form-group">
        <label>Start Date</label>
        <div class="position-relative">
          <input [owlDateTime]="dt" class="form-control" id="inputFromDate" formControlName="filtershiftfromdate">
          <span [owlDateTimeTrigger]="dt" class="datetime-icon">
            <i class="fa fa-calendar"></i>
          </span>
          <owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
        </div>
      </div>
      <div class="form-group">
        <label>End Date</label>
        <div class="position-relative">
          <input [owlDateTime]="dt1" class="form-control" id="inputToDate" formControlName="filtershiftenddate">
          <span [owlDateTimeTrigger]="dt1" class="datetime-icon">
            <i class="fa fa-calendar"></i>
          </span>
          <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
        </div>
      </div>
    </div>
    <!--[ngClass]="filterClass"-->
    <div class="filter-footer">
      <ul class="nav">
        <li class="nav-item width33" title="Search">
          <a class="nav-link p-0">
            <span class="fa fa-check"></span>
          </a>
        </li>
        <li class="nav-item width33" title="Reset">
          <a class="nav-link p-0">
            <span class="fa fa-refresh"></span>
          </a>
        </li>
        <li class="nav-item width33" title="Close" (click)="closeFilter()">
          <a class="nav-link p-0">
            <span class="fa fa-close"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="overlay" [ngClass]="!isFilter? 'hide':'show'"></div>

