<div class="main-container">
  <div class="page-title">
    <span class="xs-title"> Add User  </span>
  </div>

    <div class="card border-0 mb-2 card-shadow">
      <div class="card-body" id="collapseDetails">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-12 form-group">
            <div class="profile-avtar-box">
              <div class="image-preview mb-3">
                <img src="assets/images/user.jpg" class="profile-avtar selected-avatar" />
              </div>
              <div>
                <label for="upload-photo" class="m-0 font-weight-normal"> Upload Avatar</label>
                <input type="file" id="upload-photo" accept="image/x-png,image/jpeg,image/jpg" />
              </div>
            </div>
            <div style="clear:both"></div>
          </div>
          <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="row">
              <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 form-group">
                <label for="inputFirstName">First Name</label><span class="text-danger ml-2">*</span>
                <input type="text" class="form-control" id="inputFirstName">
              </div>
              <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 form-group">
                <label for="inputLastName">Last Name</label><span class="text-danger ml-2">*</span>
                <input type="text" class="form-control" id="inputLastName">
              </div>
            </div>
            <div class="row">
              <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 form-group">
                <label for="inputEmail">Email Id</label><span class="text-danger ml-2">*</span>
                <input type="email" class="form-control" id="inputEmail">
              </div>
              <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 form-group">
                <div class="row">
                  <div class="col-5 col-md-5 col-sm-6 col-xs-5 p-rtl">
                    <label for="inputCountryCode">Country Code</label><span class="text-danger ml-2">*</span>
                    <input list="countrycode" class="form-control" placeholder="select">
                    <datalist id="countrycode">
                      <option value="India +91">
                      <option value="USA +1">
                      <option value="UAE +971">
                    </datalist>
                  </div>
                  <div class="col-7 col-md-7 col-sm-6 col-xs-7 pl-1">
                    <label for="inputMobileNumber">Mobile No.</label><span class="text-danger ml-2">*</span>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 form-group">
                <label for="inputRole">Role</label>
               <select class="form-control">
                 <option>Admin</option>
                 <option>Producer</option>
                 <option>Creator</option>
                 <option>Publisher</option>
               </select>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="card border-0 mt-4 mb-3 bg-transparent">
      <div class="card-body p-0">
        <button class="btn-footer-fill mr-2" style="background:#1c9c14;">Verify</button>
        <button class="btn-footer-fill mr-2">Save</button>
        <button class="btn-footer-outline" (click)="navigateToListPage()">Cancel</button>
     
      </div>
    </div>
</div>
