<div class='top-bar fixed'>
  <button class="fa float-left hamburger xs-hamburger fa" (click)="toggleNav()" [ngClass]="collapse_toogleClass"></button>
  <div class="side-bar-logo text-center d-none d-md-block">
    <img src="assets/images/logo.png" width="140">
  </div>
  <!--mobile start-->
  <div class="d-md-none float-right xs-top">
    <button class="fa fa-ellipsis-v hamburger" (click)="isTopbarShow=!isTopbarShow"></button>
  </div>
  <ul class='nav nav-toolbar float-right' [ngClass]="isTopbarShow? 'show':'hide'">
    <li class="nav-item dropdown float-right">
      <a class="nav-link top-nav-link" id="dropdownMenuButton" data-toggle="dropdown">
        <span class="user-name-nav">Admin</span>
        <i class="fa fa-angle-down ml-2"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="navigateToProfile()">Profile</a>
        <a class="dropdown-item" (click)="navigateToChangePassword()">Change Password</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </li>
  </ul>
  <!--mobile end-->
  <ul class='nav nav-toolbar float-right show-toolbar'>
    <li class="nav-item dropdown">
      <a class="nav-link top-nav-link" id="dropdownMenuButton" data-toggle="dropdown">
        <span class="user-name-nav">{{loggedInUserName}}</span>
        <i class="fa fa-angle-down ml-2"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="navigateToProfile()">Profile</a>
        <a class="dropdown-item" (click)="navigateToChangePassword()">Change Password</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>
</div>

<div class="side-bar-container" [ngClass]="sidebar_class">
  <div class="side-bar-nav stylescrollbar">
    <ul class='side-bar-ul'>
      <li class='side-bar-li active-li' (click)="navigateToDashoard()">
        <a> <span class='nav-icon icon-machine-dashboard2' title="Dashboard"> </span><span class='nav-title'>Dashboard</span></a>
      </li>
      <li class='side-bar-li' (click)="navigateToUser()">
        <a> <span class='nav-icon icon-users-line2' title="Users"> </span><span class='nav-title'>Users</span>  </a>
      </li>
      <li class='side-bar-li' (click)="navigateToRoles()">
        <a> <span class='nav-icon icon-roles-line2' title="Roles"> </span> <span class='nav-title'>Roles</span> </a>
      </li>
      <li class='side-bar-li' (click)="navigateToAssetLibraries()">
        <a> <span class='nav-icon fa fa-folder-o' title="Asset Libraries"> </span> <span class='nav-title'>Asset Libraries</span> </a>
      </li>
      <li class='side-bar-li' (click)="navigateToWidgets()">
        <a> <span class='nav-icon icon-line-dashboard2' title="Widgets"></span><span class='nav-title'>Widgets</span>  </a>
      </li>
      <li class='side-bar-li' (click)="navigateToTemplates()">
        <a> <span class='nav-icon icon-templates2' title="Pages"></span><span class='nav-title'>Pages</span>  </a>
      </li>
      <li class='side-bar-li' (click)="navigateToStatementDef()">
        <a> <span class='nav-icon icon-statemenrDefinitions' title="Statement Definitions"> </span> <span class='nav-title'>Statement Definitions</span> </a>
      </li>
      <li class='side-bar-li' (click)="navigateToScheduleManagement()">
        <a> <span class='nav-icon icon-production-plan-line2' title="Schedule Management"> </span> <span class='nav-title'>Schedule Management</span> </a>
      </li>

      <li class='side-bar-li' (click)="navigateToLogs()">
        <a> <span class='nav-icon icon-reportGenerations2' title="Logs"> </span> <span class='nav-title'>Logs</span> </a>
      </li>
      <li class='side-bar-li' (click)="navigateToAnalytics()">
        <a> <span class='nav-icon icon-rp-yield1' title="Analytics"> </span> <span class='nav-title'>Analytics</span> </a>
      </li>


    </ul>
  </div>
</div>

<div class="content-wapper" [ngClass]="collapse_class">
  <router-outlet></router-outlet>
</div>
