<div class="main-container">
  <div class="page-title">
    <span class="xs-title">Statement Definition Details</span>
  </div>
  <div class="card border-0 mb-2 card-shadow">
    <div class="card-header bg-white d-flex justify-content-between">
      <div>
        <label class="m-0">Details</label>
      </div>
      <div>
        <button type="button" id="btnCollapsedDetails"
                class="toggle-btn border-0 p-0 bg-transparent"
                (click)="isCollapsedDetails = !isCollapsedDetails"
                [attr.aria-expanded]="!isCollapsedDetails"
                aria-controls="collapseDetails">
          <span class="fa" [ngClass]="!isCollapsedDetails? 'fa-angle-down' : 'fa-angle-right'"></span>
        </button>
      </div>
    </div>
    <div class="card-body" id="collapseDetails" [ngbCollapse]="isCollapsedDetails">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="row form-group">
            <div class="col-md-12 col-lg-12">
              <label id="lblRoleName" for="inputRoleName">Name</label>
              <div>{{statement.Name}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12 form-group">
              <label id="lblDescription">Description</label>
              <div>{{statement.Description}}</div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 ml-auto">
          <div class="card border-0 mb-2 card-shadow">
            <div class="card-body">
              <h6>{{statement.StatementUpdatedByUserName}}</h6>
              <div><label class="mb-0">Date : </label><span class="ml-1">{{statement.CreatedDate | date:"dd/MM/yyyy h:mm a"}}</span></div>
              <div><label>Status : </label><span class="badge badge-warning p-1 ml-1 text-white">{{statement.Status}}</span></div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card border-0 mb-2 card-shadow">
    <div class="card-header  bg-white d-flex justify-content-between">
      <div>
        <label class="m-0"> Page Sequence</label>
      </div>
      <div>
        <button type="button" id="btnCollapsedPermissions"
                class="toggle-btn border-0 p-0 bg-transparent"
                (click)="isCollapsedPermissions = !isCollapsedPermissions"
                [attr.aria-expanded]="!isCollapsedPermissions" aria-controls="collapsedPermissions">
          <span class="fa" [ngClass]="!isCollapsedPermissions? 'fa-angle-down' : 'fa-angle-right'"></span>
        </button>
      </div>
    </div>
    <div class="card-body rtl-checkbox parent-rtl position-relative" id="collapsedPermissions" [ngbCollapse]="isCollapsedPermissions">
      <div class="row">
        <div class="col-sm-12 form-group">
          <div class="example-list">
            <div class="example-box p-2" style="cursor:initial" *ngFor="let item of statement.StatementPages">
              <span>{{item.PageName}} - V{{item.PageVersion}}.0</span>
              <span class="pull-right">{{item.PagePublishDate | date:"dd/MM/yyyy h:mm a"}}</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="card border-0 mt-4 mb-3 bg-transparent">
    <div class="card-body p-0">
      <button class="btn-footer-fill mr-2" id="btnSave" *ngIf="statement.Status!='Published'" (click)="navigateToStatementEdit()">Update</button>
      <button class="btn-footer-fill-delete bg-danger mr-2" *ngIf="statement.Status!='Published'" (click)="deleteStatement()" id="btnDelete">Delete</button>
      <button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>
    </div>
  </div>
</div>
