<div class="main-container position-relative">
    <div class="page-title d-flex justify-content-md-between justify-content-end">
      <div class="xs-title">
        <span class="mr-2">NIS Engines</span>
        <span class="icon-filter filter-btn" id="spnFilter" (click)="isFilter=!isFilter"></span>
      </div>
      <div>
        <button class="btn-add btn-cust" id="btnAddRenderEngine" (click)="navigateToAddRenderEngine()">
          <span class="fa fa-plus btn-icon-cust btn-icon-fill"></span> NIS Engine
        </button>
      </div>
    </div>

    <!--desktop view start-->
    <div class="card border-0 mb-3 card-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-center mb-4">
          <div class="pagination-mat position-relative">
            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                           [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
            </mat-paginator>
          </div>
        </div>
        <div class="widget-area-grid padding-0">
        <table mat-table [dataSource]="dataSource" matSort class="table-cust" (matSortChange)="sortData($event)">
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th class="width20 ip-w-40" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let re"><span title="{{re.RenderEngineName}}">{{re.RenderEngineName}}</span></td>
          </ng-container>
  
          <ng-container matColumnDef="url">
            <th class="width30 ip-w-40" mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
            <td mat-cell *matCellDef="let re"><span title="{{re.URL}}">{{re.URL}}</span> </td>
          </ng-container>

          <ng-container matColumnDef="prioritylevel">
            <th class="width12 ip-w-40" mat-header-cell *matHeaderCellDef mat-sort-header> Priority Level </th>
            <td mat-cell *matCellDef="let re">{{re.PriorityLevel}}</td>
          </ng-container>

          <ng-container matColumnDef="concurrencycount">
            <th class="width13 ip-w-40" mat-header-cell *matHeaderCellDef mat-sort-header> Concurrency Count </th>
            <td mat-cell *matCellDef="let re">{{re.NumberOfThread}}</td>
          </ng-container>
  
          <ng-container matColumnDef="active">
            <th class="width10 ip-w-5" mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
            <td mat-cell *matCellDef="let re">
              <span *ngIf="re.IsActive">Yes</span>
              <span *ngIf="!re.IsActive">No</span>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th class="width15 ip-w-20" mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let re">
              <div class="action-btns btn-tbl-action">
                <button type="button" id="btnViewRenderEngine" title="View NIS Rengine" (click)="navigateToViewRenderEngine(re)">
                    <span class="fa fa-file-text-o"></span>
                </button>
                <button type="button" id="btnUpdateRenderEngine" *ngIf="re.IsActive" title="Update NIS Engine" (click)="navigateToEditRederEngine(re)">
                    <span class="fa fa-pencil-square-o"></span>
                </button>
                <button type="button" id="btnDeleteRenderEngine" title="Delete NIS Engine" (click)="deleteRenderEngine(re)">
                    <span class="fa fa-trash-o"></span>
                </button>
                <button type="button" id="btnDeactivateRenderEngine" title="Deactivate NIS Engine" (click)="DeactivateRenderEngine(re)" *ngIf="re.IsActive">
                  <span class="fa fa-toggle-on text-success"></span>
                </button>
                <button type="button" id="btnActivateRenderEngine" title="Activate NIS Engine" (click)="ActivateRenderEngine(re)" *ngIf="!re.IsActive">
                  <span class="fa fa-toggle-off text-success"></span>
                </button>
            </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
          </div>
      </div>
    </div>
    <!--desktop view end-->
  
    <form [formGroup]="renderEngineFilterForm">    
        <div class="filter-popup" [ngClass]="!isFilter? 'filter-popup':'filter-popup-show'">
          <div class="filter-head">
            <label class="m-0">Apply Filter</label>
          </div>
          <div class="filter-body-left d-flex flex-column stylescrollbar">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" id="filterRenderEngineName" formControlName="filterRenderEngineName">
            </div>
          </div>
          <!--[ngClass]="filterClass"-->
          <div class="filter-footer">
            <ul class="nav">
                <li class="nav-item width33" id="liSearchFilter" title="Search" (click)="searchFilter('search')">
                    <a class="nav-link p-0">
                        <span class="fa fa-check"></span>
                    </a>
                </li>
                <li class="nav-item width33" id="liResetFilter" title="Reset" (click)="searchFilter('reset')">
                    <a class="nav-link p-0">
                        <span class="fa fa-refresh"></span>
                    </a>
                </li>
                <li class="nav-item width33" id="liCloseFilter" title="Close" (click)="isFilter=!isFilter">
                    <a class="nav-link p-0">
                        <span class="fa fa-close"></span>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </form>
  
  </div>
  
  <div class="overlay" [ngClass]="!isFilter? 'hide':'show'"></div>
  
