<div class="main-container">
  <div class="page-title">
    <span class="xs-title" *ngIf="updateOperationMode == false"> Add Asset Library  </span>
    <span class="xs-title" *ngIf="updateOperationMode == true"> Update Asset Library  </span>
  </div>
  <!--delete this button-->
  <!--<button type="button" data-toggle="modal" data-target="#resourcePreview"><span class="fa fa-eye" id="btnViewImage"></span></button>-->
  <div class="modal fade cust-modal bd-example-modal-lg" id="resourcePreview" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-1">
          <button type="button" (click)="closePreview()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <!--Image-->
          <img class="card-img-top height100" [src]="image" *ngIf="isImage" />
          <!--video-->
          <video id="videoPreview" class="width100 height100" #video style="object-fit:fill" autoplay controls *ngIf="!isImage">
            <source [src]="image" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="assetLibraryFormGroup" name="roleForm" autocomplete="on" novalidate>
    <div class="card border-0 mb-2 card-shadow">
      <div class="card-header bg-white d-flex justify-content-between">
        <div>
          <label class="m-0">Details</label>
        </div>
        <div>
          <button type="button" id="btnCollapsedDetails"
                  class="toggle-btn border-0 p-0 bg-transparent"
                  (click)="isCollapsedDetails = !isCollapsedDetails"
                  [attr.aria-expanded]="!isCollapsedDetails"
                  aria-controls="collapseDetails">
            <span class="fa" [ngClass]="!isCollapsedDetails? 'fa-angle-down' : 'fa-angle-right'"></span>
          </button>
        </div>
      </div>
      <div class="card-body" id="collapseDetails" [ngbCollapse]="isCollapsedDetails">
        <div class="row form-group">
          <div class="col-md-6 col-sm-6 col-lg-4">
            <label id="lblRoleName" for="inputRoleName">Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="inputAssetLibraryName" formControlName="assetLibraryName" />
            <div class="validation-msg" style="color:red">
              <ul *ngIf="assetLibraryName.touched && assetLibraryName.errors" style="list-style-type:none">
                <li class="text-danger" *ngIf="assetLibraryName.errors?.pattern">Invalid asset library name</li>
                <li class="text-danger" *ngIf="assetLibraryName.errors?.required">Asset library name required</li>
                <li class="text-danger" *ngIf="assetLibraryName.errors?.minlength">Asset library name length should not be less than 2</li>
                <li class="text-danger" *ngIf="assetLibraryName.errors?.maxlength">Asset library name length should not be greater than 100</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-8 col-lg-6">
            <label id="lblDescription">Description</label>
            <textarea class="form-control" rows="3" id="txtDescription" formControlName="assetLibraryDescription"></textarea>
            <ul *ngIf="assetLibraryDescription.touched && assetLibraryDescription.errors" style="list-style-type:none">
              <li class="text-danger" *ngIf="assetLibraryDescription.errors?.maxlength">Asset library description length should not be greater than 500</li>
            </ul>
          </div>
        </div>
        <button class="btn-footer-fill mr-2" [disabled]="assetLibraryFormGroup.invalid" (click)="SaveAssetLibrary()" id="btnSave">Save</button>
        <button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>

      </div>
    </div>
    <div class="card border-0 mb-2 card-shadow">
      <div class="card-header  bg-white d-flex justify-content-between">
        <div>
          <label class="m-0">Assets</label>
        </div>
        <div>
          <button type="button" id="btnCollapsedPermissions"
                  class="toggle-btn border-0 p-0 bg-transparent"
                  (click)="getAssetDetails()"
                  [attr.aria-expanded]="!isCollapsedAssets" aria-controls="collapsedAssets">
            <span class="fa" [ngClass]="!isCollapsedAssets? 'fa-angle-down' : 'fa-angle-right'"></span>
          </button>
        </div>
      </div>
      <div class="card-body rtl-checkbox parent-rtl" id="collapsedAssets" [ngbCollapse]="isCollapsedAssets">

        <div class="d-flex justify-content-between mb-4">
          <div>
            <button type="button" class="btn-add-outline btn-tbl-action btn-cust" title="Upload Assets" (click)="ShowUploadAssetContainer()">
              <span class="fa fa-plus btn-icon-cust btn-icon-outline"></span> Upload Asset
            </button>
            <button type="button" class="btn-add-outline btn-tbl-action btn-cust ml-2" title="Delete Assets" (click)="DeleteAll()">
              <span class="fa fa-trash-o btn-icon-cust btn-icon-outline"></span> Delete Asset
            </button>
          </div>
          <div class="pagination-mat position-relative">
            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                           [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
            </mat-paginator>
          </div>
        </div>

        <table mat-table [dataSource]="dataSource" matSort class="table-cust" (matSortChange)="sortData($event)">
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th class="width30" mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" [checked]="isCheckAll" value="" (change)="IsCheckAll($event.target)">
                <label class="custom-control-label">   Name</label>
              </div>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" [checked]="element.IsChecked" value="" (change)="IsCheckItem($event.target,element)">
                <label class="custom-control-label">   {{element.Name}}</label>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="updatedby">
            <th class="width30" mat-header-cell *matHeaderCellDef mat-sort-header>
              Last Updated By
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.LastUpdatedBy.FirstName}} {{element.LastUpdatedBy.LastName}}
            </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th class="width28" mat-header-cell *matHeaderCellDef mat-sort-header>
              Last Updated Date
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.LastUpdatedDate | date:"dd/MM/yyyy h:mm a"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th class="width12" mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <div class="action-btns btn-tbl-action">
                <button type="button" title="Preview" id="btnView" data-toggle="modal" (click)="PreviewAsset(element)" data-target="#resourcePreview"><span class="fa fa-file-text-o"></span></button>
                <button type="button" title="Download" (click)="DownloadAsset(element.Identifier)" id="btnUpdate"><span class="fa fa-download"></span></button>
                <button type="button" title="Delete" (click)="DeleteAsset(element.Identifier)" id="btnDelete"><span class="fa fa-trash-o"></span></button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div style="text-align:center" *ngIf="isNoRecord">No data to display</div>

      </div>
    </div>
    <div class="card border-0 mt-4 mb-3 bg-transparent">
      <div class="card-body p-0">
        <!--<button class="btn-footer-fill mr-2" [disabled]="!assetLibrary.Name" (click)="SaveAssetLibrary()" id="btnSave">Save</button>-->
        <!--<button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>-->
      </div>
    </div>
  </form>
  <!--upload assets-->
  <div class="form-popup side-popup width340" [ngClass]="uploadAssetContainer? 'show' : 'hide'">
    <div class="filter-head">
      <label class="m-0">Upload Assets</label>
    </div>
    <div class="filter-body stylescrollbar">
      <div class="row">
        <div class="col-sm-6 form-group">
          <label> Upload Files </label>
          <!--<div>
            <label class="switch d-block">
              <input (click)="setFileUploadMethod('files')" [checked]="isMultipleFileUploadEnable" type="radio" name="upload" checked>
              <span class="slider round"></span>
            </label>
          </div>-->
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 parent-rtl">
          <div class="input-group">
            <div class="custom-file z-index-0">
              <input *ngIf="isMultipleFileUploadEnable" #multipleFileAssetUpload class="custom-file-input"
                     accept="{{actualSetting.VideoFileExtension}}" type="file" (click)="multipleFileAssetUpload.value = null" (change)="HandleFileUpload($event,multipleFileAssetUpload)">
              <label class="custom-file-label"></label>
            </div>

          </div>
          <div>
            <label style="font-size: 11px;margin-top: 7px;">Supported file formats : {{supportedFiles}}</label>
          </div>
        </div>
        <div class="form-group col-sm-12 parent-rtl">
          <div class="input-group">

            <div class="validation-msg" style="color: red;margin-left: 15px;">
              <ul>
                <li class="text-danger" *ngIf="assetFileSizeError">
                  {{fileType}} file size should not be greater than {{fileSize}} MB
                </li>
                <li class="text-danger" *ngIf="assetFileWidthHeightError">
                  {{fileType}} width should not be greater than {{setting.ImageWidth}}CM and height should not be greater than {{setting.ImageHeight}}CM
                </li>
                <li class="text-danger" *ngIf="assetFileWidthError">
                  {{fileType}} width should not be greater than {{setting.ImageWidth}}CM

                </li>
                <li class="text-danger" *ngIf="assetFileHeightError">
                  {{fileType}} height should not be greater than {{setting.ImageHeight}}CM

                </li>
                <li class="text-danger" *ngIf="assetFileTypeError">
                  Invalid file type
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <!--<div class="rounded p-1 mr-1 mb-2 float-left bg-light">
            resources1.png <span class="badge badge-light"><span class="fa fa-close"></span></span>
          </div>-->
          <div *ngIf="fileNameList.length > 0" class="file-list-container stylescrollbar-width">
            <div *ngFor="let fileName of fileNameList" class="file-list">
              <span class="fa fa-times" (click)="removeFileFromUpload(fileName)"></span>
              {{fileName}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-footer">
      <ul class="nav nav-toolbar">
        <li class="nav-item width50">
          <button (click)="UploadAsset()" [disabled]="fileNameList.length<=0 || assetFileSizeError || assetFileTypeError" title="Save" id="btnCloseForm"
                  class="btn-footer-fill btn-block rounded-0 height100">
            <span class="fa fa-check"></span>
          </button>
        </li>
        <li class="nav-item width50">
          <button (click)="CloseUploadAssetContainer()" title="Close" id="btnCloseForm"
                  class="btn-footer-fill btn-block rounded-0 height100">
            <span class="fa fa-close"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="overlay a" id="divOverlayFilter" [ngClass]="!isUploadAssets? 'hide':'show'"></div>
