<div class="main-container">
    <div class="page-title">
      <span class="xs-title" *ngIf="updateOperationMode == false"> Add Tenant Group  </span>
      <span class="xs-title" *ngIf="updateOperationMode == true"> Update Tenant Group </span>
    </div>
    <form [formGroup]="tenantGroupFormGroup" name="userForm" autocomplete="on" novalidate>
      <div class="card border-0 mb-2 card-shadow">
        <div class="card-header bg-white d-flex justify-content-between">
          <div>
            <label class="m-0">Details</label>
          </div>
          <div>
            <button type="button" id="btnCollapsedDetails"
                    class="toggle-btn border-0 p-0 bg-transparent"
                    (click)="isCollapsedDetails = !isCollapsedDetails"
                    [attr.aria-expanded]="!isCollapsedDetails"
                    aria-controls="collapseDetails">
              <span class="fa" [ngClass]="!isCollapsedDetails? 'fa-angle-down' : 'fa-angle-right'"></span>
            </button>
          </div>
        </div>
        <div class="card-body" id="collapseDetails" [ngbCollapse]="isCollapsedDetails">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 form-group">
                <label>Name</label><span class="text-danger ml-2">*</span>
                <input type="text" class="form-control" id="inputtTenantGroupName" formControlName="tenantGroupName" maxlength="100">
                <div class="validation-msg" style="color:red" *ngIf="tenantGroupName.touched && tenantGroupName.errors">
                  <ul style="list-style-type:none">
                    <li class="text-danger" *ngIf="tenantGroupName.errors?.pattern">
                      Invalid tenant group name
                    </li>
                    <li class="text-danger" *ngIf="tenantGroupName.errors?.minlength">
                      Tenant group name length should not be less than 2
                    </li>
                    <li class="text-danger" *ngIf="tenantGroupName.errors?.required">
                      Tenant group name required
                    </li>
                    <li class="text-danger" *ngIf="tenantGroupName.errors?.maxlength">
                      Tenant group name length should not be greater than 100
                    </li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 form-group">
                <label>Description</label>
                <textarea class="form-control" rows="4" formControlName="tenantGroupDescription" maxlength="500"></textarea>
            </div>
          </div>
          <button class="btn-footer-fill mr-2" id="btnSave" [disabled]="validateTenantGroupForm()" (click)="saveTenant()">Save </button>
          <button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>
        </div>
      </div>
    </form>

    <div class="card border-0 mb-2 card-shadow">
        <div class="card-header  bg-white d-flex justify-content-between">
          <div>
            <label class="m-0">Tenant Group User Information</label>
          </div>
          <div>
            <button type="button" id="btnCollapsedPermissions"
                    class="toggle-btn border-0 p-0 bg-transparent"
                    (click)="isCollapsedTenantGroupUsers=!isCollapsedTenantGroupUsers"
                    [attr.aria-expanded]="!isCollapsedTenantGroupUsers" aria-controls="collapsedTenantGroupUsers">
              <span class="fa" [ngClass]="!isCollapsedTenantGroupUsers? 'fa-angle-down' : 'fa-angle-right'"></span>
            </button>
          </div>
        </div>
        <div class="card-body rtl-checkbox parent-rtl" id="collapsedTenantGroupUsers" [ngbCollapse]="isCollapsedTenantGroupUsers">
  
          <div class="d-flex justify-content-between mb-4">
            <div>
              <button type="button" class="btn-add-outline btn-tbl-action btn-cust" title="Add" (click)="ShowAddEditTenantGroupUserContainer('Add',null)">
                <span class="fa fa-plus btn-icon-cust btn-icon-outline"></span> Add
              </button>
            </div>
            <div class="pagination-mat position-relative">
              <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                             [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
              </mat-paginator>
            </div>
          </div>
          <div class="widget-area-grid padding-0">
            <table mat-table [dataSource]="dataSource" matSort class="table-cust">
              <!-- Position Column -->
              <ng-container matColumnDef="FirstName">
                <th class="width15 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let tenantgroupuser">
                  <span *ngIf="tenantgroupuser.FirstName==null">-</span>
                  <span *ngIf="tenantgroupuser.FirstName!=null">{{tenantgroupuser.FirstName}} </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="LastName">
                <th class="width15 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let tenantgroupuser">
                  <span *ngIf="tenantgroupuser.LastName==null">-</span>
                  <span *ngIf="tenantgroupuser.LastName!=null">{{tenantgroupuser.LastName}} </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="EmailAddress">
                <th class="width20 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let tenantgroupuser">
                  <span *ngIf="tenantgroupuser.EmailAddress==null">-</span>
                  <span *ngIf="tenantgroupuser.EmailAddress!=null">{{tenantgroupuser.EmailAddress}} </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="ContactNumber">
                <th class="width18 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No. </th>
                <td mat-cell *matCellDef="let tenantgroupuser">
                  <span *ngIf="tenantgroupuser.ContactNumber==null">-</span>
                  <span *ngIf="tenantgroupuser.ContactNumber!=null">{{tenantgroupuser.CountryCode}}-{{tenantgroupuser.ContactNumber}} </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th class="width12 ip-w-20" mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let tenantgroupuser">
                  <div class="action-btns btn-tbl-action">
                    <button type="button" id="btnSendActivationLinkToTenantGroupUser" title="Send Activation/Reset Password Link">
                      <span class="fa fa-external-link"></span>
                    </button>
                    <button type="button" id="btnUpdateTenantGroupUser" title="Update" (click)="ShowAddEditTenantGroupUserContainer('Edit',tenantgroupuser)">
                      <span class="fa fa-pencil-square-o"></span>
                    </button>
                    <button type="button" id="btnUpdateTenantGroupUser" title="Delete" (click)="DeleteTenantGroupUser(tenantgroupuser)">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
    
        </div>
      </div>
    
    <form [formGroup]="tenantGroupUserFormGroup" name="tenantGroupUserFormGroup" autocomplete="on" novalidate>
      <div class="form-popup side-popup width340" [ngClass]="isTenantGroupUserContainer? 'show' : 'hide'">
        <div class="filter-head">
          <label class="m-0">Add Tenant Group User</label>
        </div>
        <div class="filter-body stylescrollbar">
          <div class="row">
            <div class="col-sm-12 form-group">
              <label> First Name </label><span class="text-danger ml-2">*</span>
              <input type="text" class="form-control" id="inputFirstName" formControlName="firstName" maxlength="50">
              <div class="validation-msg" style="color:red" *ngIf="firstName.touched && firstName.errors">
                <ul style="list-style-type:none">
                  <li class="text-danger" *ngIf="firstName.errors?.pattern">
                    Invalid first name
                  </li>
                  <li class="text-danger" *ngIf="firstName.errors?.minlength">
                    First name length should not be less than 2
                  </li>
                  <li class="text-danger" *ngIf="firstName.errors?.required">
                    First name required
                  </li>
                  <li class="text-danger" *ngIf="firstName.errors?.maxlength">
                    First name length should not be greater than 50
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label> Last Name </label><span class="text-danger ml-2">*</span>
              <input type="text" class="form-control" id="inputLastName" formControlName="lastName" maxlength="50">
              <div class="validation-msg" style="color:red" *ngIf="lastName.touched && lastName.errors">
                <ul style="list-style-type:none">
                  <li class="text-danger" *ngIf="lastName.errors?.pattern">
                    Invalid last name
                  </li>
                  <li class="text-danger" *ngIf="lastName.errors?.required">
                    Last name required
                  </li>
                  <li class="text-danger" *ngIf="lastName.errors?.minlength">
                    Last name length should not be less than 2
                  </li>
                  <li class="text-danger" *ngIf="lastName.errors?.maxlength">
                    Last name length should not be greater than 50
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label> Email </label><span class="text-danger ml-2">*</span>
              <input type="email" class="form-control" id="inputEmail" formControlName="email">
              <div class="validation-msg" style="color:red" *ngIf="email.touched && email.errors">
                <ul style="list-style-type:none">
                  <li class="text-danger" *ngIf="email.errors?.pattern">
                    Invalid email address
                  </li>
                  <li class="text-danger" *ngIf="email.errors?.required">
                    Email address required
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <div class="row">
                <div class="col-5 col-md-5 col-sm-6 col-xs-5 p-rtl">
                  <label for="inputCountryCode">Country Code</label><span class="text-danger ml-2">*</span>
                  <select formControlName="CountryCode" (change)='onCountrySelected($event)' class="form-control">
                    <option *ngFor="let country of countryList" [value]="country.Identifier">{{country.Code}}</option>
                  </select>
                  <div class="validation-msg" style="color:red">
                    <ul *ngIf="tenantGroupUserFormErrorObject.showCountryCodeError" style="list-style-type:none">
                      <li class="text-danger">
                        Please select country
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-7 col-md-7 col-sm-6 col-xs-7 pl-1">
                  <label for="inputMobileNumber">Mobile No.</label><span class="text-danger ml-2">*</span>
                  <input type="text" class="form-control" formControlName="mobileNumber" maxlength="10">
                  <div class="validation-msg" style="color:red" *ngIf="mobileNumber.touched && mobileNumber.errors">
                    <ul style="list-style-type:none">
                      <li class="text-danger" *ngIf="mobileNumber.errors?.minlength && !mobileNumber.errors?.pattern">
                        Mobile number should not be less than 10 digits
                      </li>
                      <li class="text-danger" *ngIf="mobileNumber.errors?.maxlength && !mobileNumber.errors?.pattern">
                        Mobile number should not be greater than 10 digits
                      </li>
                      <li class="text-danger" *ngIf="mobileNumber.errors?.pattern">
                        Invalid mobile number
                      </li>
                      <li class="text-danger" *ngIf="mobileNumber.errors?.required">
                        Mobile number required
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-footer">
          <ul class="nav nav-toolbar">
            <li class="nav-item width50">
              <button title="Save" id="btnCloseForm"
                      class="btn-footer-fill btn-block rounded-0 height100" [disabled]="tenantGroupUserFormValidation('Add')" (click)="onSubmitAddTenantGroupUser()">
                <span class="fa fa-check"></span>
              </button>
            </li>
            <li class="nav-item width50">
              <button (click)="CloseAddEditTenantGroupUserContainer('Add')" title="Close" id="btnCloseForm"
                      class="btn-footer-fill btn-block rounded-0 height100">
                <span class="fa fa-close"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </form>
  
    <form [formGroup]="tenantGroupUserEditFormGroup" name="tenantGroupUserEditFormGroup" autocomplete="on" novalidate>
      <div class="form-popup side-popup width340" [ngClass]="isEditTenantGroupUserContainer? 'show' : 'hide'">
        <div class="filter-head">
          <label class="m-0">Edit Tenant Group User</label>
        </div>
        <div class="filter-body stylescrollbar">
          <div class="row">
            <div class="col-sm-12 form-group">
              <label> First Name </label><span class="text-danger ml-2">*</span>
              <input type="text" class="form-control" id="inputFirstNameEdit" formControlName="EditfirstName" maxlength="50">
              <div class="validation-msg" style="color:red" *ngIf="EditfirstName.touched && EditfirstName.errors">
                <ul style="list-style-type:none">
                  <li class="text-danger" *ngIf="EditfirstName.errors?.pattern">
                    Invalid first name
                  </li>
                  <li class="text-danger" *ngIf="EditfirstName.errors?.minlength">
                    First name length should not be less than 2
                  </li>
                  <li class="text-danger" *ngIf="EditfirstName.errors?.required">
                    First name required
                  </li>
                  <li class="text-danger" *ngIf="EditfirstName.errors?.maxlength">
                    First name length should not be greater than 50
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label> Last Name </label><span class="text-danger ml-2">*</span>
              <input type="text" class="form-control" id="inputLastNameEdit" formControlName="EditlastName" maxlength="50">
              <div class="validation-msg" style="color:red" *ngIf="EditlastName.touched && EditlastName.errors">
                <ul style="list-style-type:none">
                  <li class="text-danger" *ngIf="EditlastName.errors?.pattern">
                    Invalid last name
                  </li>
                  <li class="text-danger" *ngIf="EditlastName.errors?.required">
                    Last name required
                  </li>
                  <li class="text-danger" *ngIf="EditlastName.errors?.minlength">
                    Last name length should not be less than 2
                  </li>
                  <li class="text-danger" *ngIf="EditlastName.errors?.maxlength">
                    Last name length should not be greater than 50
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label> Email </label><span class="text-danger ml-2">*</span>
              <input type="email" class="form-control" id="inputEmailEdit" formControlName="Editemail">
              <div class="validation-msg" style="color:red" *ngIf="email.touched && email.errors">
                <ul style="list-style-type:none">
                  <li class="text-danger" *ngIf="Editemail.errors?.pattern">
                    Invalid email address
                  </li>
                  <li class="text-danger" *ngIf="Editemail.errors?.required">
                    Email address required
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <div class="row">
                <div class="col-5 col-md-5 col-sm-6 col-xs-5 p-rtl">
                  <label for="inputCountryCode">Country Code</label><span class="text-danger ml-2">*</span>
                  <select formControlName="EditCountryCode" (change)='onCountrySelected($event)' class="form-control">
                    <option *ngFor="let country of countryList" [value]="country.Identifier">{{country.Code}}</option>
                  </select>
                  <div class="validation-msg" style="color:red">
                    <ul *ngIf="tenantGroupUserFormErrorObject.showCountryCodeError" style="list-style-type:none">
                      <li class="text-danger">
                        Please select country
                      </li>
                    </ul>
                  </div>
  
                </div>
                <div class="col-7 col-md-7 col-sm-6 col-xs-7 pl-1">
                  <label for="inputMobileNumber">Mobile No.</label><span class="text-danger ml-2">*</span>
                  <input type="text" class="form-control" formControlName="EditmobileNumber" maxlength="10">
                  <div class="validation-msg" style="color:red" *ngIf="EditmobileNumber.touched && EditmobileNumber.errors">
                    <ul style="list-style-type:none">
                      <li class="text-danger" *ngIf="EditmobileNumber.errors?.minlength && !EditmobileNumber.errors?.pattern">
                        Mobile number should not be less than 10 digits
                      </li>
                      <li class="text-danger" *ngIf="EditmobileNumber.errors?.maxlength && !EditmobileNumber.errors?.pattern">
                        Mobile number should not be greater than 10 digits
                      </li>
                      <li class="text-danger" *ngIf="EditmobileNumber.errors?.pattern">
                        Invalid mobile number
                      </li>
                      <li class="text-danger" *ngIf="EditmobileNumber.errors?.required">
                        Mobile number required
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-footer">
          <ul class="nav nav-toolbar">
            <li class="nav-item width50">
              <button title="Save" id="btnCloseFormEdit" class="btn-footer-fill btn-block rounded-0 height100" [disabled]="tenantGroupUserFormValidation('Edit')" (click)="UpdateTenantGroupUser()">
                <span class="fa fa-check"></span>
              </button>
            </li>
            <li class="nav-item width50">
              <button (click)="CloseAddEditTenantGroupUserContainer('Edit')" title="Close" id="btnCloseFormEdit" class="btn-footer-fill btn-block rounded-0 height100">
                <span class="fa fa-close"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </form>

  </div>
  
  <div class="overlay a" id="divOverlayFilter" [ngClass]="!isTenantGroupUserContainer? 'hide':'show'"></div>
  <div class="overlay a" id="divOverlayFilter1" [ngClass]="!isEditTenantGroupUserContainer? 'hide':'show'"></div>
  
