<div class="main-container position-relative">
  <div class="page-title d-flex justify-content-md-between justify-content-end">
    <div class="xs-title">
      <span class="mr-2">Statement Search</span>
      <span class="icon-filter filter-btn" id="spnFilter" (click)="isFilter=!isFilter"></span>
    </div>
  </div>
  <!--desktop view start-->
  <div class="card border-0 mb-3 card-shadow">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-4">
        <div class="pagination-mat position-relative">
          <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [disabled]="disablePagination"
                         [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
          </mat-paginator>
        </div>
      </div>
      <div class="widget-area-grid padding-0" *ngIf='scheduleLogList!=undefined && scheduleLogList.length>0'>
        <table mat-table [dataSource]="dataSource" matSort class="table-cust" (matSortChange)="sortData($event)">

          <ng-container matColumnDef="customer">
            <th class="width18" mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
            <td mat-cell *matCellDef="let element"> <span title="{{element.CustomerName}}">{{element.CustomerName}}</span> </td>
          </ng-container>

          <ng-container matColumnDef="batchName">
            <th class="width20" mat-header-cell *matHeaderCellDef mat-sort-header> Batch Name </th>
            <td mat-cell *matCellDef="let element"> <span title="{{element.BatchName}}">{{element.BatchName}}</span> </td>
          </ng-container>

          <ng-container matColumnDef="accountId">
            <th class="width13" mat-header-cell *matHeaderCellDef mat-sort-header> Account ID </th>
            <td mat-cell *matCellDef="let element"> <span title="{{element.AccountNumber}}">{{element.AccountNumber}}</span> </td>
          </ng-container>

          <ng-container matColumnDef="accounttype">
            <th class="width13" mat-header-cell *matHeaderCellDef mat-sort-header> Account Type </th>
            <td mat-cell *matCellDef="let element"> <span title="{{element.AccountType}}">{{element.AccountType}}</span> </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th class="width13" mat-header-cell *matHeaderCellDef mat-sort-header> Statement Date </th>
            <td mat-cell *matCellDef="let element"> <span title="{{element.StatementDate | date:DataFormat}}">{{element.StatementDate | date:DataFormat}}</span> </td>
          </ng-container>

          <ng-container matColumnDef="period">
            <th class="width12" mat-header-cell *matHeaderCellDef mat-sort-header> Statement Period </th>
            <td mat-cell *matCellDef="let element"> <span title="{{element.StatementPeriod}}">{{element.StatementPeriod}}</span> </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th class="width11" mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <div class="action-btns btn-tbl-action">
                <button (click)="ViewHTML(element)" type="button" title="View Html"><span class="fa fa-download"></span></button>
                <button (click)="ExportToPDF(element)" type="button" title="Export to PDF"><span class="fa fa-file-pdf-o"></span></button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="widget-area-grid padding-0 text-center" *ngIf='scheduleLogList!=undefined && scheduleLogList.length==0'>
          <label>Please use the filter to see the statement records.</label>
      </div>
    </div>
  </div>
  <!--desktop view end-->
  <form [formGroup]="StatementSearchFilterForm">
    <div class="filter-popup" [ngClass]="!isFilter? 'filter-popup':'filter-popup-show'">
      <div class="filter-head">
        <label class="m-0">Apply Filter</label>
      </div>
      <div class="filter-body-left d-flex flex-column stylescrollbar">
        <div class="form-group">
          <label>Statement Date</label>
          <div class="position-relative">
            <input [owlDateTime]="dt" class="form-control" id="inputFromDate" formControlName="filterStatementDate" placeholder="Please select statement date" readonly (ngModelChange)="onPublishedFilterDateChange($event)">
            <span [owlDateTimeTrigger]="dt" class="datetime-icon">
              <i class="fa fa-calendar"></i>
            </span>
            <owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
          </div>
          <div class="text-danger" *ngIf="filterToDateError">
            {{filterToDateErrorMessage}}
          </div>
        </div>
        <div class="form-group">
          <label>Statement Period</label>
          <input type="text" class="form-control" id="filterStatementPeriod" formControlName="filterStatementPeriod">
        </div>
        <div class="form-group">
          <label>Customer</label>
          <input type="text" class="form-control" id="filterCustomer" formControlName="filterStatementCustomer">
        </div>
        <div class="form-group">
          <label>Account ID</label>
          <input type="text" class="form-control" id="filterAccountId" formControlName="filterStatementAccountId">
        </div>
      </div>
      <!--[ngClass]="filterClass"-->
      <div class="filter-footer">
        <ul class="nav">
          <li class="nav-item width33" title="Search" (click)="searchStatementSearchRecordFilter('search')">
            <a class="nav-link p-0">
              <span class="fa fa-check"></span>
            </a>
          </li>
          <li class="nav-item width33" title="Reset" (click)="searchStatementSearchRecordFilter('reset')">
            <a class="nav-link p-0">
              <span class="fa fa-refresh"></span>
            </a>
          </li>
          <li class="nav-item width33" title="Close" (click)="closeFilter()">
            <a class="nav-link p-0">
              <span class="fa fa-close"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>

<div class="overlay" [ngClass]="!isFilter? 'hide':'show'"></div>

