<div class="main-container">
  <div class="page-title">
    <span class="xs-title"> Asset Library Details</span>
  </div>
  <div class="modal fade cust-modal bd-example-modal-lg" id="resourcePreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-1">
          <button type="button" (click)="closePreview()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <!--Image-->
          <img class="card-img-top height100" [src]="image" *ngIf="isImage" />
          <!--video-->
          <video class="width100 height100" style="object-fit:fill" autoplay controls *ngIf="!isImage">
            <source [src]="image" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-0 mb-2 card-shadow">
    <div class="card-header bg-white d-flex justify-content-between">
      <div>
        <label class="m-0">Details</label>
      </div>
      <div>
        <button type="button" id="btnCollapsedDetails"
                class="toggle-btn border-0 p-0 bg-transparent"
                (click)="isCollapsedDetails = !isCollapsedDetails"
                [attr.aria-expanded]="!isCollapsedDetails"
                aria-controls="collapseDetails">
          <span class="fa" [ngClass]="!isCollapsedDetails? 'fa-angle-down' : 'fa-angle-right'"></span>
        </button>
      </div>
    </div>
    <div class="card-body" id="collapseDetails" [ngbCollapse]="isCollapsedDetails">
      <div class="row form-group">
        <div class="col-md-6 col-lg-4">
          <label id="lblRoleName" for="inputRoleName">Name</label>
          <div>{{assetLibrary.Name}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-6">
          <label id="lblDescription">Description</label>
          <div>{{assetLibrary.Description}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-0 mb-2 card-shadow">
    <div class="card-header  bg-white d-flex justify-content-between">
      <div>
        <label class="m-0">Assets</label>
      </div>
      <div>
        <button type="button" id="btnCollapsedPermissions"
                class="toggle-btn border-0 p-0 bg-transparent"
                (click)="isCollapsedAssets = !isCollapsedAssets"
                [attr.aria-expanded]="!isCollapsedAssets" aria-controls="collapsedAssets">
          <span class="fa" [ngClass]="!isCollapsedAssets? 'fa-angle-down' : 'fa-angle-right'"></span>
        </button>
      </div>
    </div>
    <div class="card-body rtl-checkbox parent-rtl" id="collapsedAssets" [ngbCollapse]="isCollapsedAssets">

      <div class="d-flex justify-content-center mb-0">
        <div class="pagination-mat position-relative">
          <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
          </mat-paginator>
        </div>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="table-cust" (matSortChange)="sortData($event)" matSortActive="name" matSortDirection="asc" matSortDisableClear>
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th class="width30" mat-header-cell *matHeaderCellDef mat-sort-header>
            Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.Name}}

          </td>
        </ng-container>

        <ng-container matColumnDef="updatedby">
          <th class="width30" mat-header-cell *matHeaderCellDef mat-sort-header>
            Last Updated By
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.LastUpdatedBy.FirstName}} {{element.LastUpdatedBy.LastName}}
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th class="width30" mat-header-cell *matHeaderCellDef mat-sort-header>
            Last Updated Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.LastUpdatedDate | date:"dd/MM/yyyy h:mm a"}}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th class="width5" mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <div class="action-btns btn-tbl-action">
              <button type="button" title="Preview" id="btnView" data-toggle="modal" (click)="PreviewAsset(element)" data-target="#resourcePreview"><span class="fa fa-file-text-o"></span></button>
              <button type="button" title="Download" (click)="DownloadAsset(element.Identifier)" id="btnUpdate"><span class="fa fa-download"></span></button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <div style="text-align:center" *ngIf="isNoRecord">No data to display</div>
    </div>
  </div>
  <div class="card border-0 mt-4 mb-3 bg-transparent">
    <div class="card-body p-0">
      <button class="btn-footer-fill mr-2" id="btnSave" (click)="navigateToAssetLibraryEdit()">Update</button>
      <button class="btn-footer-fill-delete bg-danger mr-2" id="btnDelete" (click)="deleteAssetLibrary()">Delete</button>
      <button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>
    </div>
  </div>
</div>
