<div class="main-container">
  <div class="page-title">
    <span class="xs-title">Add Statement Definition</span>
    <span class="xs-title" *ngIf="updateOperationMode == false"> Add Statement Definition  </span>
    <span class="xs-title" *ngIf="updateOperationMode == true"> Update Statement Definition  </span>
  </div>
  <form [formGroup]="statementFormGroup" name="roleForm" autocomplete="on" novalidate>
    <div class="card border-0 mb-2 card-shadow">

      <div class="card-header bg-white d-flex justify-content-between">
        <div>
          <label class="m-0">Details</label>
        </div>
        <div>
          <button type="button" id="btnCollapsedDetails"
                  class="toggle-btn border-0 p-0 bg-transparent"
                  (click)="isCollapsedDetails = !isCollapsedDetails"
                  [attr.aria-expanded]="!isCollapsedDetails"
                  aria-controls="collapseDetails">
            <span class="fa" [ngClass]="!isCollapsedDetails? 'fa-angle-down' : 'fa-angle-right'"></span>
          </button>
        </div>
      </div>
      <div class="card-body" id="collapseDetails" [ngbCollapse]="isCollapsedDetails">
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="row form-group">
              <div class="col-md-12 col-lg-12">
                <label id="lblRoleName" for="inputRoleName">Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputRoleName" formControlName="statementName" />
                <div class="validation-msg" style="color:red">
                  <ul *ngIf="statementName.touched && statementName.errors" style="list-style-type:none">
                    <li class="text-danger" *ngIf="statementName.errors?.pattern">Invalid statement name</li>
                    <li class="text-danger" *ngIf="statementName.errors?.required">Statement name required</li>
                    <li class="text-danger" *ngIf="statementName.errors?.minlength">Statement name length should not be less than 2</li>
                    <li class="text-danger" *ngIf="statementName.errors?.maxlength">Statement name length should not be greater than 100</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-12 form-group">
                <label id="lblDescription">Description</label>
                <textarea class="form-control" rows="3" id="txtDescription" formControlName="statementDescription"></textarea>
                <ul *ngIf="statementDescription.touched && statementDescription.errors" style="list-style-type:none">
                  <li class="text-danger" *ngIf="statementDescription.errors?.maxlength">Statement description length should not be greater than 500</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 ml-auto">
            <div class="card border-0 mb-2 card-shadow">
              <div class="card-body">
                <h6>{{statement.StatementOwnerName}}</h6>
                <div><label class="mb-0">Date : </label><span class="ml-1">{{statement.CreatedDate | date:"dd/MM/yyyy h:mm a"}}</span></div>
                <div><label>Status : </label><span class="badge badge-primary p-1 ml-1">{{statement.Status}}</span></div>
                <!--<div><label>Status : </label><span class="badge badge-warning p-1 ml-1">In Process</span></div>
                <div><label>Status : </label><span class="badge badge-success pdanger1 ml-1">Published</span></div>-->
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="card border-0 mb-2 card-shadow">
      <div class="card-header  bg-white d-flex justify-content-between">
        <div>
          <label class="m-0">Page Sequence</label>
        </div>
        <div>
          <button type="button" id="btnCollapsedPermissions"
                  class="toggle-btn border-0 p-0 bg-transparent"
                  [attr.aria-expanded]="!isCollapsedPermissions" aria-controls="collapsedPermissions">
            <span class="fa" [ngClass]="!isCollapsedPermissions? 'fa-angle-down' : 'fa-angle-right'" (click)="bindPages()"></span>
          </button>
        </div>
      </div>
      <div class="card-body rtl-checkbox parent-rtl position-relative" id="collapsedPermissions" [ngbCollapse]="isCollapsedPermissions">
        <div class="row">
          <div class="col-sm-6 form-group">
            <div class="filter-popup filter-popup-show width100 position-static float-left border shadow-none rounded" style="height:auto;">
              <div class="filter-head bg-transparent d-flex justify-content-between">
                <label class="m-0">Available Pages</label>
                <select formControlName="pageType" (change)='onPageTypeSelected($event)' class="form-control width30 mt-2 xs-w-100">
                  <option *ngFor="let type of pageTypeList" [value]="type.Identifier">{{type.Name}}</option>
                </select>
              </div>
              <div class="filter-body-left d-flex flex-column stylescrollbar">
                <div cdkDropList
                     #seqList="cdkDropList"
                     [cdkDropListData]="pages"
                     [cdkDropListConnectedTo]="[pageList]"
                     class="example-list"
                     (cdkDropListDropped)="drop($event)">
                  <div class="example-box p-2" *ngFor="let item of pages" cdkDrag>
                    <span>{{item.DisplayName}}-{{item.Version}}</span>
                    <span class="pull-right">{{item.PublishedOn  | date:"dd/MM/yyyy h:mm a"}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <div class="filter-popup filter-popup-show width100 position-static float-right border shadow-none rounded" style="height:auto;">
              <div class="filter-head bg-transparent">
                <label class="m-0">Selected Sequence</label>
              </div>
              <div class="filter-body-left d-flex flex-column stylescrollbar">
                <div cdkDropList
                     #pageList="cdkDropList"
                     [cdkDropListData]="selectedPages"
                     [cdkDropListConnectedTo]="[seqList]"
                     class="example-list"
                     (cdkDropListDropped)="drop($event)">
                  <div class="example-box p-2" *ngFor="let item of selectedPages" cdkDrag>
                    <span>{{item.DisplayName}}</span>
                    <span class="pull-right">{{item.PublishedOn  | date:"dd/MM/yyyy h:mm a"}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </form>
  <div class="card border-0 mt-4 mb-3 bg-transparent">
    <div class="card-body p-0">
      <button class="btn-footer-fill mr-2" id="btnSave" (click)="saveStatement()" [disabled]="statementFormGroup.invalid || selectedPages.length==0 ">Save</button>
      <button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>
    </div>
  </div>
</div>
