<div class="main-container position-relative">
  <div class="page-title d-flex justify-content-md-between justify-content-end">
    <div class="xs-title">
      <span class="mr-2">Dynamic Widgets</span>
      <span class="icon-filter filter-btn" id="spnFilter" (click)="isFilter=!isFilter"></span>
    </div>
    <div>
      <button class="btn-add btn-cust" id="btnAddRoles" (click)="navigateToAdd()">
        <span class="fa fa-plus btn-icon-cust btn-icon-fill"></span> Dynamic Widget
      </button>

    </div>
  </div>
  <!--desktop view start-->
  <div class="card border-0 mb-3 card-shadow">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-4">
        <div class="pagination-mat position-relative">
          <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
          </mat-paginator>
        </div>
      </div>
      <div class="widget-area-grid padding-0">
        <table mat-table [dataSource]="dataSource" matSort class="table-cust">
          <!-- Position Column -->
          <ng-container matColumnDef="Product">
            <th class="width17 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Product Type </th>
            <td mat-cell *matCellDef="let dynamicwidget">{{dynamicwidget.Product}}</td>
          </ng-container>

          <ng-container matColumnDef="Entity">
            <th class="width13 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Entity Type </th>
            <td mat-cell *matCellDef="let dynamicwidget">
              <span *ngIf="dynamicwidget.Entity==null">-</span>
              <span *ngIf="dynamicwidget.Entity!=null">{{dynamicwidget.Entity}} </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="Widget">
            <th class="width8 ip-w-5" mat-header-cell *matHeaderCellDef mat-sort-header> Widget Type </th>
            <td mat-cell *matCellDef="let dynamicwidget">
              <span *ngIf="dynamicwidget.Widget==null">-</span>
              <span *ngIf="dynamicwidget.Widget!=null">{{dynamicwidget.Widget}} </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="Owner">
            <th class="width13 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
            <td mat-cell *matCellDef="let dynamicwidget">
              <span *ngIf="dynamicwidget.Owner==null">-</span>
              <span *ngIf="dynamicwidget.Owner!=null">{{dynamicwidget.Owner}} </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="PublishedBy">
            <th class="width13 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Published By </th>
            <td mat-cell *matCellDef="let dynamicwidget">
              <span *ngIf="dynamicwidget.PublishedBy==null">-</span>
              <span *ngIf="dynamicwidget.PublishedBy!=null">{{dynamicwidget.PublishedBy}} </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="PublishedDate">
            <th class="width11 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header>  Published Date </th>
            <td mat-cell *matCellDef="let dynamicwidget">
              <span *ngIf="dynamicwidget.Widget==null">-</span>
              <span *ngIf="dynamicwidget.Widget!=null">{{dynamicwidget.PublishedDate}} </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="Status">
            <th class="width8 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
            <td mat-cell *matCellDef="let dynamicwidget">
              <span class="badge badge-primary p-1" *ngIf="dynamicwidget.Status=='New'">{{dynamicwidget.Status}}</span>
              <span class="badge badge-success p-1" *ngIf="dynamicwidget.Status=='Published'">{{dynamicwidget.Status}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th class="width17 ip-w-25" mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let dynamicwidget">
              <div class="action-btns btn-tbl-action">
                <button type="button" id="btnViewRole" title="View Role" (click)="navigateToView()">
                  <span class="fa fa-file-text-o"></span>
                </button>
                <button type="button" id="btnUpdateRole"  *ngIf="dynamicwidget.Status=='New'" title="Update">
                  <span class="fa fa-pencil-square-o"></span>
                </button>
                <button type="button" id="btnUpdateRole" title="Delete">
                  <span class="fa fa-trash"></span>
                </button>
                <button type="button" title="Publish" id="btnPublish" *ngIf="dynamicwidget.Status=='New'"><span class="fa fa-share"></span></button>
                <button type="button" title="Clone" id="btnClone" *ngIf="dynamicwidget.Status=='Published'">  <span class="fa fa-clone"></span>
                </button>
                <button type="button" title="Preview" id="btnPreview">
                  <span class="fa fa-eye"></span>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <!--desktop view end-->

  <form>
    <div class="filter-popup" [ngClass]="!isFilter? 'filter-popup':'filter-popup-show'">
      <div class="filter-head">
        <label class="m-0">Apply Filter</label>
      </div>
      <div class="filter-body-left d-flex flex-column stylescrollbar">
        <div class="form-group">
          <label>Product Type</label>
          <select class="form-control">
            <option>Select</option>
            <option>Common</option>
            <option>Saving</option>
            <option>Current</option>
          </select>
        </div>
        <div class="form-group">
          <label>Entity Type</label>
          <select class="form-control">
            <option>Select</option>
            <option>Customer</option>
            <option>Account</option>
            <option>Transaction</option>
          </select>
        </div>
        <div class="form-group">
          <label>Widget Type</label>
          <select class="form-control">
            <option>Select</option>
            <option>Form</option>
            <option>Table</option>
            <option>Line Graph</option>
            <option>Bar Graph</option>
            <option>Pie Chart</option>
          </select>
        </div>
        <div class="form-group">
          <label>Owner</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Status</label>
          <select class="form-control">
            <option>Select</option>
            <option>New</option>
            <option>Published</option>
          </select>
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <div class="position-relative">
            <input [owlDateTime]="dt" class="form-control" id="inputFromDate" formControlName="filterPublishedOnFromDate"
                   placeholder="Please select start date">
            <span [owlDateTimeTrigger]="dt" class="datetime-icon">
              <i class="fa fa-calendar"></i>
            </span>
            <owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
          </div>
          <!--<div class="text-danger" *ngIf="filterFromDateError">
            {{filterFromDateErrorMessage}}
          </div>-->
        </div>
        <div class="form-group">
          <label>End Date</label>
          <div class="position-relative">
            <input [owlDateTime]="dt1" class="form-control" id="inputToDate" formControlName="filterPublishedOnToDate"
                   placeholder="Please select end date">
            <span [owlDateTimeTrigger]="dt1" class="datetime-icon">
              <i class="fa fa-calendar"></i>
            </span>
            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
          </div>
          <!--<div class="text-danger" *ngIf="filterToDateError">
            {{filterToDateErrorMessage}}
          </div>-->
        </div>
      </div>
      <!--[ngClass]="filterClass"-->
      <div class="filter-footer">
        <ul class="nav">
          <li class="nav-item width33" id="liSearchFilter" title="Search">
            <a class="nav-link p-0">
              <span class="fa fa-check"></span>
            </a>
          </li>
          <li class="nav-item width33" id="liResetFilter" title="Reset">
            <a class="nav-link p-0">
              <span class="fa fa-refresh"></span>
            </a>
          </li>
          <li class="nav-item width33" id="liCloseFilter" title="Close" (click)="isFilter=!isFilter">
            <a class="nav-link p-0">
              <span class="fa fa-close"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </form>

</div>

<div class="overlay" [ngClass]="!isFilter? 'hide':'show'"></div>

