<div class="main-container position-relative">
  <div class="page-title d-flex justify-content-md-between justify-content-end">
    <div class="xs-title">
      <span class="mr-2">Dynamic Widgets</span>
      <span class="icon-filter filter-btn" id="spnFilter" (click)="isFilter=!isFilter"></span>
    </div>
    <div>
      <button class="btn-add btn-cust" id="btnAddRoles" (click)="navigateToAdd()" *ngIf="(userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Dynamic Widget',Operation: 'Create' })">
        <span class="fa fa-plus btn-icon-cust btn-icon-fill"></span> Dynamic Widget
      </button>

    </div>
  </div>
  <!--desktop view start-->
  <div class="card border-0 mb-3 card-shadow">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-4">
        <div class="pagination-mat position-relative">
          <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
          </mat-paginator>
        </div>
      </div>

      <div *ngIf='templateList!=undefined'>
        <div class="widget-area-grid padding-0" *ngIf='templateList.length!=0'>
          <table mat-table [dataSource]="dataSource" matSort class="table-cust" (matSortChange)="sortData($event)">
            <!-- Position Column -->
            <ng-container matColumnDef="WidgetName">
              <th class="width15 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let dynamicwidget">{{dynamicwidget.WidgetName}}</td>
            </ng-container>
            <ng-container matColumnDef="Product">
              <th class="width10 ip-w-10" mat-header-cell *matHeaderCellDef> Page Type </th>
              <td mat-cell *matCellDef="let dynamicwidget">{{dynamicwidget.PageTypeName}}</td>
            </ng-container>

            <ng-container matColumnDef="Entity">
              <th class="width15 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Entity Type </th>
              <td mat-cell *matCellDef="let dynamicwidget">
                <span *ngIf="dynamicwidget.EntityName==null">-</span>
                <span *ngIf="dynamicwidget.EntityName!=null">{{dynamicwidget.EntityName}} </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="Widget">
              <th class="width10 ip-w-5" mat-header-cell *matHeaderCellDef mat-sort-header> Widget Type </th>
              <td mat-cell *matCellDef="let dynamicwidget">
                <span *ngIf="dynamicwidget.WidgetType==null">-</span>
                <span *ngIf="dynamicwidget.WidgetType!=null">{{dynamicwidget.WidgetType}} </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="PublishedBy">
              <th class="width10 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Published By </th>
              <td mat-cell *matCellDef="let dynamicwidget">
                <span *ngIf="dynamicwidget.PublishedByName==null">-</span>
                <span *ngIf="dynamicwidget.PublishedByName!=null">{{dynamicwidget.PublishedByName}} </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="PublishedDate">
              <th class="width10 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header>  Published Date </th>
              <td mat-cell *matCellDef="let dynamicwidget">
                <span *ngIf="dynamicwidget.PublishedDate==null">-</span>
                <span *ngIf="dynamicwidget.PublishedDate!=null">{{dynamicwidget.PublishedDate  | date:DataFormat}} </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="Status">
              <th class="width5 ip-w-5" mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
              <td mat-cell *matCellDef="let dynamicwidget">
                <span class="badge badge-primary p-1" *ngIf="dynamicwidget.Status=='New'">{{dynamicwidget.Status}}</span>
                <span class="badge badge-success p-1" *ngIf="dynamicwidget.Status=='Published'">{{dynamicwidget.Status}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th class="width15 ip-w-25" mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let dynamicwidget">
                <div class="action-btns btn-tbl-action">
                  <button type="button" id="btnViewRole" title="View" (click)="navigateToView(dynamicwidget)" *ngIf="((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Dynamic Widget',Operation: 'View' }))">
                    <span class="fa fa-file-text-o"></span>
                  </button>
                  <button type="button" id="btnUpdateRole" *ngIf="dynamicwidget.Status!='Published' && ((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Dynamic Widget',Operation: 'Edit' }))" title="Edit" (click)="navigationToEditDynamicWidget(dynamicwidget)">
                    <span class="fa fa-pencil-square-o"></span>
                  </button>
                  <button type="button" id="btnUpdateRole" title="Delete" *ngIf="(userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Dynamic Widget',Operation: 'Delete' })" (click)="DeleteDynamicWidget(dynamicwidget)">
                    <span class="fa fa-trash"></span>
                  </button>
                  <button type="button" title="Publish" id="btnPublish" *ngIf="dynamicwidget.Status!='Published' && ((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Dynamic Widget',Operation: 'Publish' }))" (click)="PublishDynamicWidget(dynamicwidget)"><span class="fa fa-share"></span></button>
                  <button type="button" title="Clone" id="btnClone" *ngIf="dynamicwidget.Status!='New' && ((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Dynamic Widget',Operation: 'Create' }))" (click)="CloneDynamicWidget(dynamicwidget)">
                    <span class="fa fa-clone"></span>
                  </button>
                  <button type="button" title="Preview" id="btnPreview" *ngIf="((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Dynamic Widget',Operation: 'View' }))" (click)="PreviewDynamicWidget(dynamicwidget)">
                    <span class="fa fa-eye"></span>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
      <div class="widget-area-grid padding-0 text-center" *ngIf='templateList.length==0'>
        No Record found
      </div>
    </div>
  </div>
  <!--desktop view end-->

  <form [formGroup]="DynamicWidgetFilterForm">
    <div class="filter-popup" [ngClass]="!isFilter? 'filter-popup':'filter-popup-show'">
      <div class="filter-head">
        <label class="m-0">Apply Filter</label>
      </div>
      <div class="filter-body-left d-flex flex-column stylescrollbar">
        <div class="form-group">
          <label>Page Type</label>
          <select formControlName="filterPageType" (change)="onPageTypeSelected($event)" class="form-control">
            <option *ngFor="let pt of pageTypeList" [value]="pt.Identifier">{{pt.PageTypeName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Entity</label>
          <select formControlName="filterEntity" (change)="onEntitySelected($event)" class="form-control">
            <option *ngFor="let pt of entityList" [value]="pt.Identifier">{{pt.Name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Widget Type</label>
          <select class="form-control" formControlName="filterWidgetType">
            <option value="0" selected> Select Widget Type</option>
            <option value="Form">Form</option>
            <option value="Table">Table</option>
            <option value="LineGraph">Line Graph</option>
            <option value="BarGraph">Bar Graph</option>
            <option value="PieChart">Pie Chart</option>
            <option value="HTMLEditor">HTML Editor</option>
          </select>
        </div>
        <div class="form-group">
          <label>Owner</label>
          <input type="text" class="form-control" formControlName="filterOwner" />
        </div>
        <div class="form-group">
          <label>Status</label>
          <select class="form-control" formControlName="filterStatus">
            <option value="0" selected> Select</option>
            <option value="New">New</option>
            <option value="Published">Published</option>
          </select>
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <div class="position-relative">
            <input [owlDateTime]="dt" class="form-control" id="inputFromDate" formControlName="filterPublishedOnFromDate"
                   placeholder="Please select start date" readonly (ngModelChange)="onPublishedFilterDateChange($event)">
            <span [owlDateTimeTrigger]="dt" class="datetime-icon">
              <i class="fa fa-calendar"></i>
            </span>
            <owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
          </div>
          <div class="text-danger" *ngIf="filterFromDateError">
            {{filterFromDateErrorMessage}}
          </div>
        </div>
        <div class="form-group">
          <label>End Date</label>
          <div class="position-relative">
            <input [owlDateTime]="dt1" class="form-control" id="inputToDate" formControlName="filterPublishedOnToDate"
                   placeholder="Please select end date" readonly (ngModelChange)="onPublishedFilterDateChange($event)">
            <span [owlDateTimeTrigger]="dt1" class="datetime-icon">
              <i class="fa fa-calendar"></i>
            </span>
            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
          </div>
          <div class="text-danger" *ngIf="filterToDateError">
            {{filterToDateErrorMessage}}
          </div>
        </div>
      </div>
      <!--[ngClass]="filterClass"-->
      <div class="filter-footer">
        <ul class="nav">
          <li class="nav-item width33" id="liSearchFilter" title="Search" (click)="searchDynamicWidgetRecordFilter('search')">
            <a class="nav-link p-0">
              <span class="fa fa-check"></span>
            </a>
          </li>
          <li class="nav-item width33" id="liResetFilter" title="Reset" (click)="searchDynamicWidgetRecordFilter('reset')">
            <a class="nav-link p-0">
              <span class="fa fa-refresh"></span>
            </a>
          </li>
          <li class="nav-item width33" id="liCloseFilter" title="Close" (click)="closeFilter()">
            <a class="nav-link p-0">
              <span class="fa fa-close"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </form>

</div>

<div class="overlay" [ngClass]="!isFilter? 'hide':'show'"></div>

