<div class="login-container">
  <div class="login-left d-flex justify-content-center align-items-center">
    <img src="././assets/images/logo.png" class="login-logo" />
  </div>
  <div class="login-right box-shadow">
    <div class="login-main">
      <div class="row d-lg-none d-md-block text-center">
        <div class="col-sm-12">
          <img src="././assets/images/logo.png" class="login-logo" />
        </div>
      </div>
      <!--login form-->
      <div id="login-frm" [formGroup]="loginForm" *ngIf="isLoginFlag">
        <div class="row mb-4">
          <div class="col-sm-12 text-center">
            <h4 style="font-weight:normal"> Welcome </h4>
            <p  class="m-0" style="font-weight:normal"> Please login to dashboard admin </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 mt-4">
            <div class="login-control">
              <span class="fa fa-user"></span>
              <input type="text" class="txtLogin" placeholder="User name" autocomplete="off" formControlName="userName">
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="login-control">
              <span class="fa fa-lock"></span>
              <input type="password" class="txtLogin" placeholder="Password" autocomplete="off" formControlName="password">
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
              <label class="custom-control-label" for="defaultUnchecked">Remember me</label>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-12 mt-4">
            <button type="button" class="btn btn-default btn-block" (click)="OnSubmit()">Login</button>
            <!--<small class="form-text text-muted">{{msg}}</small>-->
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 text-center">
            <a class="text-info" (click)="isForgotPassswordForm()"> Forgot Password ?</a>
          </div>
        </div>
      </div>

      <!--forgot password-->
      <div id="forgot-frm" *ngIf="isForgotPassword">
        <div class="row mb-4">
          <div class="col-sm-12 text-center">
            <h4 style="font-weight:normal"> Forgot your password? </h4>
            <p class="m-0">
              Enter your email below and we'll email you
              Link to reset password.
            </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 mt-4">
            <div class="login-control">
              <span class="fa fa-envelope"></span>
              <input type="email" class="txtLogin" placeholder="Email Id">
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-12 mt-4">
            <button type="button" class="btn btn-default btn-block">Submit</button>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 text-center">
            <a class="text-info" (click)="isLoginForm()"> Cancel </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> 
