<div class="main-container">
  <div class="page-title">
    <span class="xs-title" *ngIf="updateOperationMode == false"> Add Schedule  </span>
    <span class="xs-title" *ngIf="updateOperationMode == true"> Update Schedule  </span>
  </div>
  <form [formGroup]="scheduleForm" name="scheduleForm" autocomplete="on" novalidate>
    <div class="card border-0 mb-2 card-shadow">
      <div class="card-body">
        <div class="row form-group">
          <div class="col-md-4 col-lg-4">
            <label id="lblName" for="inputRoleName">Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="ScheduleName" id="lblName" />
            <div class="validation-msg" style="color:red">
              <ul *ngIf="ScheduleName.touched && ScheduleName.errors" style="list-style-type:none">
                <li class="text-danger" *ngIf="ScheduleName.errors?.pattern">Invalid schedule name</li>
                <li class="text-danger" *ngIf="ScheduleName.errors?.required">Schedule name required</li>
                <li class="text-danger" *ngIf="ScheduleName.errors?.minlength">Schedule name length should not be less than 2</li>
                <li class="text-danger" *ngIf="ScheduleName.errors?.maxlength">Schedule name length should not be greater than 50</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <label id="lblTemplate" for="inputRoleName">Statement Definition<span class="text-danger">*</span></label>
            <select formControlName="StatementDefinition" (change)="onStateDefinitionSelected($event)" class="form-control" [attr.disabled]="IsStartDateDisable?'':null">
              <option *ngFor="let sd of statementDefinitionList" [value]="sd.Identifier">{{sd.Name}}</option>
            </select>
            <div class="validation-msg" style="color:red">
              <ul *ngIf="scheduleFormErrorObject.statementShowError" style="list-style-type:none">
                <li class="text-danger">
                  Please select statement definition
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-4 form-group">
            <label id="lblTemplate" for="inputRoleName">Day of Month<span class="text-danger">*</span></label>
            <select formControlName="DayOfMonth" (change)="onDayOfMonthSelected($event)" class="form-control" [attr.disabled]="IsStartDateDisable?'':null">
              <option *ngFor="let sd of DayOfMonthList" [value]="sd.Identifier">{{sd.Name}}</option>
            </select>
            <div class="validation-msg" style="color:red">
              <ul *ngIf="scheduleFormErrorObject.dayOfmonthShowError" style="list-style-type:none">
                <li class="text-danger">
                  Please select day of month
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 form-group">
            <label id="lblTemplate" for="inputRoleName">Time for the day (HH : MM) <span class="text-danger">*</span></label>
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <select formControlName="TimeOfDayHours" (change)="onTimeOfDayHoursSelected($event)" class="form-control" [attr.disabled]="IsStartDateDisable?'':null">
                  <option *ngFor="let sd of TimeOfDayHoursList" [value]="sd.Identifier">{{sd.Name}}</option>
                </select>
                <div class="validation-msg" style="color:red">
                  <ul *ngIf="scheduleFormErrorObject.hourOfDayShowError" style="list-style-type:none">
                    <li class="text-danger">
                      Please select hour of day
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <select formControlName="TimeOfDayMinutes" (change)="onTimeOfDayMinutesSelected($event)" class="form-control" [attr.disabled]="IsStartDateDisable?'':null">
                  <option *ngFor="let sd of TimeOfDayMinutesList" [value]="sd.Identifier">{{sd.Name}}</option>
                </select>
                <div class="validation-msg" style="color:red">
                  <ul *ngIf="scheduleFormErrorObject.minuteOfHourShowError" style="list-style-type:none">
                    <li class="text-danger">
                      Please select minutes of hour
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-4 form-group">
            <label>Start Date<span class="text-danger">*</span></label>
            <div class="position-relative">
              <input [owlDateTime]="dt" class="form-control" id="inputFromDate" formControlName="filtershiftfromdate"
                     placeholder="Please select start date" readonly (ngModelChange)="onFilterDateChange($event)" [disabled]="IsStartDateDisable">
              <span [owlDateTimeTrigger]="dt" class="datetime-icon">
                <i class="fa fa-calendar"></i>
              </span>
              <owl-date-time #dt [pickerType]="'calendar'" [disabled]="IsStartDateDisable"></owl-date-time>
            </div>
            <div class="text-danger" *ngIf="filterFromDateError">
              {{filterFromDateErrorMessage}}
            </div>
          </div>
          <div class="col-md-4 col-lg-4 form-group">
            <label>End Date</label><span class="text-danger" *ngIf="IsEndDateRequired">*</span>
            <div class="position-relative">
              <input [owlDateTime]="dt1" class="form-control" id="inputToDate" formControlName="filtershiftenddate"
                     placeholder="Please select end date" readonly (ngModelChange)="onFilterDateChange($event)" [disabled]="!IsEndDateRequired">
              <span [owlDateTimeTrigger]="dt1" class="datetime-icon" [disabled]="!IsEndDateRequired">
                <i class="fa fa-calendar"></i>
              </span>
              <owl-date-time #dt1 [pickerType]="'calendar'" [disabled]="!IsEndDateRequired"></owl-date-time>
            </div>
            <div class="text-danger" *ngIf="filterToDateError">
              {{filterToDateErrorMessage}}
            </div>
            <div class="text-danger" *ngIf="filterDateDifferenecError">
              {{filterDateDiffErrorMessage}}
            </div>
          </div>
          <!--<div class="col-md-4 col-lg-4 form-group">
            <div class="row">
              <div class="col-sm-6">
                <label>No End Date</label>
                <div>
                  <label class="switch d-block">
                    <input type="checkbox" id="inputNoEndDate" formControlName="NoEndDate" [checked]="!IsEndDateRequired" value="" (change)="NoEndDateClicked($event.target)">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <label>Export to PDF</label>
                <div>
                  <label class="switch d-block">
                    <input type="checkbox" id="inputExportToPDF" formControlName="ExportToPDF" [checked]="IsExportToPDF" value="" (change)="IsExportToPDFClicked($event.target)">

                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>


          </div>-->
        </div>
        <div class="row">

        </div>
      </div>
    </div>
    <div class="card border-0 mt-4 mb-3 bg-transparent">
      <div class="card-body p-0">
        <button class="btn-footer-fill mr-2" id="btnSave" [disabled]="vaildateForm()" (click)="SaveSchedule()">Save</button>
        <button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>
      </div>
    </div>
  </form>
</div>
