.weekDays-selector input {
    display: none!important;
  }
  
  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 15px;
    background: #dddddd;
    height: 30px;
    width: 30px;
    margin-right: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
  }
  
  .weekDays-selector input[type=checkbox]:checked + label {
    background: #e2801c;
    color: #ffffff;
  }

  