<div class="main-container">
  <div class="page-title">
    <span class="xs-title">Add Statement Definition</span>
  </div>
  <div class="card border-0 mb-2 card-shadow">
    <div class="card-header bg-white d-flex justify-content-between">
      <div>
        <label class="m-0">Details</label>
      </div>
      <div>
        <button type="button" id="btnCollapsedDetails"
                class="toggle-btn border-0 p-0 bg-transparent"
                (click)="isCollapsedDetails = !isCollapsedDetails"
                [attr.aria-expanded]="!isCollapsedDetails"
                aria-controls="collapseDetails">
          <span class="fa" [ngClass]="!isCollapsedDetails? 'fa-angle-down' : 'fa-angle-right'"></span>
        </button>
      </div>
    </div>
    <div class="card-body" id="collapseDetails" [ngbCollapse]="isCollapsedDetails">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="row form-group">
            <div class="col-md-12 col-lg-12">
              <label id="lblRoleName" for="inputRoleName">Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="inputRoleName" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12 form-group">
              <label id="lblDescription">Description</label>
              <textarea class="form-control" rows="3" id="txtDescription"></textarea>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 ml-auto">
          <div class="card border-0 mb-2 card-shadow">
            <div class="card-body">
              <h6>Super Admin</h6>
              <div><label class="mb-0">Date : </label><span class="ml-1">01/02/2020</span></div>
              <div><label>Status : </label><span class="badge badge-primary p-1 ml-1">New</span></div>
              <!--<div><label>Status : </label><span class="badge badge-warning p-1 ml-1">In Process</span></div>
  <div><label>Status : </label><span class="badge badge-success pdanger1 ml-1">Published</span></div>-->
            </div>
          
            </div>
          </div>
        </div>
     
    </div>
  </div>
  <div class="card border-0 mb-2 card-shadow">
    <div class="card-header  bg-white d-flex justify-content-between">
      <div>
        <label class="m-0">Page Sequence</label>
      </div>
      <div>
        <button type="button" id="btnCollapsedPermissions"
                class="toggle-btn border-0 p-0 bg-transparent"
                (click)="isCollapsedPermissions = !isCollapsedPermissions"
                [attr.aria-expanded]="!isCollapsedPermissions" aria-controls="collapsedPermissions">
          <span class="fa" [ngClass]="!isCollapsedPermissions? 'fa-angle-down' : 'fa-angle-right'"></span>
        </button>
      </div>
    </div>
    <div class="card-body rtl-checkbox parent-rtl position-relative" id="collapsedPermissions" [ngbCollapse]="isCollapsedPermissions">
      <div class="row">
        <div class="col-sm-6 form-group">
          <div class="filter-popup filter-popup-show width100 position-static float-left border shadow-none rounded" style="height:auto;">
            <div class="filter-head bg-transparent d-flex justify-content-between">
              <label class="m-0">Available Pages</label>
              <select class="form-control float-right" style="width:50%;margin-top:8px;">
                <option selected>Select</option>
                <option>Home</option>
                <option>Saving Account</option>
                <option>Current Account</option>
                </select>
            </div>
            <div class="filter-body-left d-flex flex-column stylescrollbar">
              <div cdkDropList
                   #seqList="cdkDropList"
                   [cdkDropListData]="seq"
                   [cdkDropListConnectedTo]="[pageList]"
                   class="example-list"
                   (cdkDropListDropped)="drop($event)">
                <div class="example-box p-2" *ngFor="let item of seq" cdkDrag>
                  <span>{{item}}</span>
                  <span class="pull-right">02/03/2020</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 form-group">
          <div class="filter-popup filter-popup-show width100 position-static float-right border shadow-none rounded" style="height:auto;">
            <div class="filter-head bg-transparent">
              <label class="m-0">Selected Sequence</label>
            </div>
            <div class="filter-body-left d-flex flex-column stylescrollbar">
              <div cdkDropList
                   #pageList="cdkDropList"
                   [cdkDropListData]="page"
                   [cdkDropListConnectedTo]="[seqList]"
                   class="example-list"
                   (cdkDropListDropped)="drop($event)">
                <div class="example-box p-2" *ngFor="let item of page" cdkDrag>
                  <span>{{item}}</span>
                  <span class="pull-right">02/03/2020</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
    </div>
  </div>
  <div class="card border-0 mt-4 mb-3 bg-transparent">
    <div class="card-body p-0">
      <button class="btn-footer-fill mr-2" id="btnSave">Save</button>
      <button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>
    </div>
  </div>
</div>
