<div class="account-maincontainer">
  <div class="container text-center">
      <div class="row">
          <div class="col-sm-12 account-heading">
              <h3>Select Tenant </h3>
              <p> Please choose from the below options </p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <div class="account-container" *ngFor='let tenant of tenants'>
                  <div class="account-innercontainer" (click)='onTenantSelect(tenant)'>
                      <div class="account-logo">
                        <img [src]="tenant.TenantLogo"/>
                      </div>
                      <div class="account-title-box">
                        <div class="account-title"> {{tenant.TenantName}} </div>
                        <!-- <p *ngIf='tenant.IsLastAccessed'> Last Accessed </p>
                        <p *ngIf='!tenant.IsLastAccessed'> </p> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12 footer-row">
              <button type="button" class=" btn btn-default" (click)='onCancelTenantSelection()'>  Cancel </button>
          </div>
      </div>
  </div>
</div>