.account-maincontainer {
    width: 100%;
    display: inline-block;
    margin-top: 130px;
}

.account-container {
    width: 175px;
    display: inline-block;
    height: 220px;
    margin: 5px 5px;
}

.account-innercontainer {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid thin rgba(22,30,38,0.2);
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0,0,0,.10);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.10);
}

.active-account {
    color: rgb(0,145,226);
    border-color: rgb(0,145,226);
}

.selected-account {
    border-color: rgb(0,145,226);
}

.account-inactive {
    color: rgba(0,0,0,0.4);
    border-color: rgba(0,0,0,0.1);
    cursor: default !important;
}

    .account-inactive .account-title {
        color: rgba(0,0,0,0.4) !important;
    }

.account-logo {
    width: 140px;
    text-align: center;
    height: 124px;
    display: inline-block;
    margin: 10px;
}

    .account-logo img {
        width: 140px;
        height: 124px;
    }

.account-title-box {
    width: 100%;
    height: auto;
    display: inline-block;
}

.account-title {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    color: rgba(0,0,0,0.9);
	font-family: 'Roboto', sans-serif;
    font-weight:500;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px 8px;
}

.account-title-box p {
    font-size: 14px;
}

.account-heading {
    margin-bottom: 20px;
}

    .account-heading h3 {
	    font-family: 'Roboto', sans-serif;
        font-weight:500;
    }

    .account-heading p {
        color: rgba(0,0,0,0.8);
        font-size: 16px;
		font-family: 'Roboto', sans-serif;
        font-weight:400;
    }

.account-img {
    width: 124px;
    height: 124px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin #e1e1e1;
    padding: 0;
    font-size: 60px;
    border-radius: 50%;
    background: #e6e6e6;
    color: #696868;
    text-transform: uppercase;
}