<div class="account-maincontainer">
  <div class="container text-center">

    <div class="row form-group" *ngIf="tenantGroups!=null && tenantGroups.length!=0">
      <div class="col-sm-12">
        <div class="account-container" *ngFor='let group of tenantGroups'>
          <div class="account-innercontainer" (click)='onTenantSelect(group)'>
            <div class="account-logo">
              <div class="account-img">
                <span *ngIf="group.TenantImage==null || group.TenantImage==''">{{group.TenantName.charAt(0) | titlecase}}</span>
                <img [src]="group.TenantImage" *ngIf="group.TenantImage!=null && group.TenantImage!=''" />
              </div>
            </div>
            <div class="account-title-box">
              <div class="account-title text-wrap"> {{group.TenantName}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" *ngIf="childTenants!=null && childTenants.length!=0">
      <div class="col-sm-12 account-heading">
        <h5 class="mb-0">Select Tenant </h5>
        <p> Please choose from the below options </p>
      </div>
    </div>
    <div class="row form-group" *ngIf="childTenants!=null && childTenants.length!=0">
      <div class="col-sm-12">
        <div class="account-container" *ngFor='let tenant of childTenants'>
          <div class="account-innercontainer" (click)='onTenantSelect(tenant)'>
            <div class="account-logo">
              <div class="account-img">
                <span *ngIf="tenant.TenantImage==null || tenant.TenantImage==''">{{tenant.TenantName.charAt(0) | titlecase}}</span>
                <img [src]="tenant.TenantImage" *ngIf="tenant.TenantImage!=null && tenant.TenantImage!=''" />
              </div>
            </div>
            <div class="account-title-box">
              <div class="account-title text-wrap"> {{tenant.TenantName}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 footer-row">
        <button type="button" class=" btn btn-default" (click)='onCancelTenantSelection()'>  Cancel </button>
      </div>
    </div>
  </div>
</div>
