@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?viftoy');
    src:  url('../fonts/icomoon.eot?viftoy#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?viftoy') format('truetype'),
      url('../fonts/icomoon.woff?viftoy') format('woff'),
      url('../fonts/icomoon.svg?viftoy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.icon-statemenrDefinitions:before {
  content: "\e98b";
}

.icon-TransactionMixWidget:before {
  content: "\e98c";
}

.icon-AvailableBalanceWidget:before {
  content: "\e98d";
}

.icon-videoWidget:before {
  content: "\e98e";
}

.icon-AnalyticsWidget:before {
  content: "\e98f";
}

.icon-machine-template1:before {
  content: "\e990";
}

.icon-rp-cycle1:before {
  content: "\e991";
}

.icon-rp-alarm1:before {
  content: "\e992";
}

.icon-rp-loss1:before {
  content: "\e993";
}

.icon-rp-quality1:before {
  content: "\e994";
}

.icon-rp-yield1:before {
  content: "\e995";
}

.icon-rp-production1:before {
  content: "\e996";
}

.icon-line-dashboard-config2:before {
  content: "\e997";
}

.icon-machine-dashboard2:before {
  content: "\e998";
}

.icon-widget-single-column2:before {
  content: "\e999";
}

.icon-widget-slider2:before {
  content: "\e99a";
}

.icon-widget-multi-column2:before {
  content: "\e99b";
}

.icon-widget-variation-graph2:before {
  content: "\e99c";
}

.icon-widget-line-chart2:before {
  content: "\e99d";
}

.icon-widget-multiline-chart2:before {
  content: "\e99e";
}

.icon-templates2:before {
  content: "\e99f";
}

.icon-list-eight2:before {
  content: "\e9a0";
}

.icon-list-four2:before {
  content: "\e9a1";
}

.icon-widget-process-control2:before {
  content: "\e9a2";
}

.icon-widget-value2:before {
  content: "\e9a3";
}

.icon-widget-list2:before {
  content: "\e9a4";
}

.icon-line-dashboard2:before {
  content: "\e9a5";
}

.icon-reportGenerations2:before {
  content: "\e9a6";
}

.icon-lossCalculations2:before {
  content: "\e9a7";
}

.icon-switch-off2:before {
  content: "\e9a8";
}

.icon-switch-on2:before {
  content: "\e9a9";
}

.icon-loss-cost-line2:before {
  content: "\e9aa";
}

.icon-operations2:before {
  content: "\e9ab";
}

.icon-smsgateway2:before {
  content: "\e9ac";
}

.icon-roles-line2:before {
  content: "\e9ad";
}

.icon-downtimereason-line2:before {
  content: "\e9ae";
}

.icon-production-plan-line2:before {
  content: "\e9af";
}

.icon-operation-parameter-line2:before {
  content: "\e9b0";
}

.icon-shift-line2:before {
  content: "\e9b1";
}

.icon-users-line2:before {
  content: "\e9b2";
}

.icon-organizationunit-line2:before {
  content: "\e9b3";
}

.icon-home-line2:before {
  content: "\e9b4";
}

.icon-video-thumbnail2:before {
  content: "\e9b5";
}

.icon-allowance2:before {
  content: "\e9b6";
}

.icon-notification2:before {
  content: "\e9b7";
}

.icon-filter:before {
  content: "\e9b8";
}

.icon-view2:before {
  content: "\e9b9";
}

.icon-update2:before {
  content: "\e9ba";
}

.icon-delete2:before {
  content: "\e9bb";
}

.icon-edit2:before {
  content: "\e9bc";
}

.icon-logout2:before {
  content: "\e9bd";
}

.icon-password2:before {
  content: "\e9be";
}

.icon-user2:before {
  content: "\e9bf";
}

.icon-setting2:before {
  content: "\e9c0";
}

.icon-home2:before {
  content: "\e9c1";
}

.icon-user-line2:before {
  content: "\e9c2";
}

.icon-org-profile1:before {
  content: "\e9c3";
}

.icon-speed-loss1:before {
  content: "\e9c4";
}

.icon-reports1:before {
  content: "\e9c5";
}
