<div class="main-container position-relative">
  <div class="page-title d-flex justify-content-md-between justify-content-end">
    <div class="xs-title">
      <span class="mr-2">Contact Type</span>
      <span class="icon-filter filter-btn" id="spnFilter" (click)="isFilter=!isFilter"></span>
    </div>
    <div>
      <button class="btn-add btn-cust" id="btnAddUsers" (click)="navigateToContactTypeAdd()">
        <span class="fa fa-plus btn-icon-cust btn-icon-fill"></span> Contact Type
      </button>

    </div>
  </div>
  <!--desktop view start-->
  <div class="card border-0 mb-3 card-shadow">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-4">
        <div class="pagination-mat position-relative">
          <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
          </mat-paginator>
        </div>
      </div>
      <div *ngIf='contacttypeList!=undefined'>
        <div class="widget-area-grid padding-0" *ngIf='contacttypeList.length!=0'>
          <table mat-table [dataSource]="dataSource" matSort class="table-cust" (matSortChange)="sortData($event)">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th class="width30 ip-w-40" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element">{{element.Name}}</td>
            </ng-container>
            <ng-container matColumnDef="code">
              <th class="width25 ip-w-40" mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let element">{{element.Description}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th class="width15 ip-w-35" mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <div class="action-btns btn-tbl-action">
  
                  <button type="button" id="btnUpdateRole" title="Update" (click)="navigateToContactTypeEdit(element)">
                    <span class="fa fa-pencil-square-o"></span>
                  </button>
                  <button type="button" id="btnDeleteRole" title="Delete" (click)="deleteContactType(element)">
                    <span class="fa fa-trash-o"></span>
                  </button>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="widget-area-grid padding-0 text-center" *ngIf='contacttypeList.length==0'>
          No record found
        </div>
      </div>
      
    </div>
  </div>
  <!--desktop view end-->
  <form [formGroup]="ContactTypeFilterForm">
    <div class="filter-popup" [ngClass]="!isFilter? 'filter-popup':'filter-popup-show'">
      <div class="filter-head">
        <label class="m-0">Apply Filter</label>
      </div>
      <div class="filter-body-left d-flex flex-column stylescrollbar">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" id="filterDisplayName" formControlName="filterName">
        </div>
      </div>
      <!--[ngClass]="filterClass"-->
      <div class="filter-footer">
        <ul class="nav">
          <li class="nav-item width33" title="Search">
            <button class="btn-footer-fill btn-block rounded-0 height100" (click)="searchContactTypeFilter('search')">
              <span class="fa fa-check"></span>
            </button>
          </li>
          <li class="nav-item width33" title="Reset" (click)="searchContactTypeFilter('reset')">
            <a class="nav-link p-0">
              <span class="fa fa-refresh"></span>
            </a>
          </li>
          <li class="nav-item width33" title="Close" (click)="closeFilter()">
            <a class="nav-link p-0">
              <span class="fa fa-close"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </form>

  <form [formGroup]="AddContactTypeFormGroup">
    <div class="form-popup side-popup width340" [ngClass]="addContactTypeContainer? 'show' : 'hide'">
      <div class="filter-head">
        <label class="m-0">Add Contact Type</label>
      </div>

      <div class="filter-body stylescrollbar">
        <div class="row">
          <div class="form-group col-sm-12 parent-rtl">
            <label>Name</label>
            <input type="text" class="form-control" id="AddName" formControlName="AddName">
            <div class="validation-msg" style="color:red">
              <ul *ngIf="AddName.touched && AddName.errors" style="list-style-type:none">
                <li class="text-danger" *ngIf="AddName.errors?.pattern">Invalid contact type name</li>
                <li class="text-danger" *ngIf="AddName.errors?.required">Contact type name required</li>
                <li class="text-danger" *ngIf="AddName.errors?.minlength">Contact type name length should not be less than 2</li>
                <li class="text-danger" *ngIf="AddName.errors?.maxlength">Contact type name length should not be greater than 50</li>
              </ul>
            </div>
          </div>
          <div class="form-group col-sm-12 parent-rtl">
            <label>Description</label>
            <textarea class="form-control" rows="3" id="txtDescription" formControlName="AddDescription"></textarea>
            <ul *ngIf="AddDescription.touched && AddDescription.errors" style="list-style-type:none">
              <li class="text-danger" *ngIf="AddDescription.errors?.maxlength">Description length should not be greater than 500</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="filter-footer">
        <ul class="nav nav-toolbar">
          <li class="nav-item width50">
            <button title="Save" id="btnCloseForm" (click)="AddUpdateContactType()" [disabled]="vaildateForm('Add')"
                    class="btn-footer-fill btn-block rounded-0 height100">
              <span class="fa fa-check"></span>
            </button>
          </li>
          <li class="nav-item width50">
            <button title="Close" id="btnCloseForm" (click)="CloseContactTypeForm('Add')"
                    class="btn-footer-fill btn-block rounded-0 height100">
              <span class="fa fa-close"></span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </form>

  <form [formGroup]="EditContactTypeFormGroup">
    <div class="form-popup side-popup width340" [ngClass]="editContactTypeContainer? 'show' : 'hide'">
      <div class="filter-head">
        <label class="m-0">Edit Contact Type</label>
      </div>
      <div class="filter-body stylescrollbar">
        <div class="row">
          <div class="form-group col-sm-12 parent-rtl">
            <label>Name</label>
            <input type="text" class="form-control" id="EditName" formControlName="EditName">
            <div class="validation-msg" style="color:red">
              <ul *ngIf="EditName.touched && EditName.errors" style="list-style-type:none">
                <li class="text-danger" *ngIf="EditName.errors?.pattern">Invalid schedule name</li>
                <li class="text-danger" *ngIf="EditName.errors?.required">Contact type name required</li>
                <li class="text-danger" *ngIf="EditName.errors?.minlength">Contact type name length should not be less than 2</li>
                <li class="text-danger" *ngIf="EditName.errors?.maxlength">Contact type name length should not be greater than 50</li>
              </ul>
            </div>
          </div>
          <div class="form-group col-sm-12 parent-rtl">
            <label>Description</label>
            <textarea class="form-control" rows="3" id="txtDescription" formControlName="EditDescription"></textarea>
            <ul *ngIf="EditDescription.touched && EditDescription.errors" style="list-style-type:none">
              <li class="text-danger" *ngIf="EditDescription.errors?.maxlength">Description length should not be greater than 500</li>
            </ul>
          </div>
        </div>
      </div>
      <!--[ngClass]="filterClass"-->
      <div class="filter-footer">
        <ul class="nav nav-toolbar">
          <li class="nav-item width50">
            <button title="Save" id="btnCloseForm1" (click)="AddUpdateContactType()" [disabled]="vaildateForm('Edit')"
                    class="btn-footer-fill btn-block rounded-0 height100">
              <span class="fa fa-check"></span>
            </button>
          </li>
          <li class="nav-item width50">
            <button title="Close" id="btnCloseForm1" (click)="CloseContactTypeForm('Edit')"
                    class="btn-footer-fill btn-block rounded-0 height100">
              <span class="fa fa-close"></span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
<div class="overlay a" id="divOverlayAdd" [ngClass]="!addContactTypeContainer? 'hide':'show'"></div>
<div class="overlay a" id="divOverlayEdit" [ngClass]="!editContactTypeContainer? 'hide':'show'"></div>
<div class="overlay" [ngClass]="!isFilter? 'hide':'show'"></div>

