<div class="main-container position-relative">
  <div class="page-title d-flex justify-content-md-between justify-content-end">
    <div class="xs-title">
      <span class="mr-2">SM 01 History</span>
      <span class="icon-filter filter-btn" id="spnFilter" (click)="isFilter=!isFilter"></span>
    </div>
  </div>
  <!--desktop view start-->
  <div class="card border-0 mb-3 card-shadow">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-4">
        <div class="pagination-mat position-relative">
          <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage">
          </mat-paginator>
        </div>
      </div>
      <div class="widget-area-grid padding-0">
        <table mat-table [dataSource]="dataSource" matSort class="table-cust">

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th class="width20" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="template">
            <th class="width20" mat-header-cell *matHeaderCellDef mat-sort-header> Statement Defination </th>
            <td mat-cell *matCellDef="let element"> {{element.template}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="startDate">
            <th class="width15" mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="endDate">
            <th class="width15" mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
          </ng-container>

          <ng-container matColumnDef="DayOfMonth">
            <th class="width20" mat-header-cell *matHeaderCellDef mat-sort-header> Day of Month </th>
            <td mat-cell *matCellDef="let element"> {{element.DayOfMonth}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th class="width10" mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element">
              <div class="action-btns btn-tbl-action">
                <button type="button" title="Download"><span class="fa fa-download"></span></button>
                <button type="button" title="Export PDF"><span class="fa fa-file-pdf-o"></span></button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      </div>
    </div>
  <!--desktop view end-->

  <div class="card border-0 mt-4 mb-3 bg-transparent">
    <div class="card-body p-0">
      <button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>
    </div>
  </div>

  <div class="filter-popup" [ngClass]="!isFilter? 'filter-popup':'filter-popup-show'">
    <div class="filter-head">
      <label class="m-0">Apply Filter</label>
    </div>
    <div class="filter-body-left d-flex flex-column stylescrollbar">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Statement Defination</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Start Date</label>
        <div class="position-relative">
          <input [owlDateTime]="dt" class="form-control" id="inputFromDate" formControlName="filtershiftfromdate">
          <span [owlDateTimeTrigger]="dt" class="datetime-icon">
            <i class="fa fa-calendar"></i>
          </span>
          <owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
        </div>
      </div>
      <div class="form-group">
        <label>End Date</label>
        <div class="position-relative">
          <input [owlDateTime]="dt1" class="form-control" id="inputToDate" formControlName="filtershiftenddate">
          <span [owlDateTimeTrigger]="dt1" class="datetime-icon">
            <i class="fa fa-calendar"></i>
          </span>
          <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
        </div>
      </div>
    </div>
    <!--[ngClass]="filterClass"-->
    <div class="filter-footer">
      <ul class="nav">
        <li class="nav-item width33" title="Search">
          <a class="nav-link p-0">
            <span class="fa fa-check"></span>
          </a>
        </li>
        <li class="nav-item width33" title="Reset">
          <a class="nav-link p-0">
            <span class="fa fa-refresh"></span>
          </a>
        </li>
        <li class="nav-item width33" title="Close" (click)="closeFilter()">
          <a class="nav-link p-0">
            <span class="fa fa-close"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="overlay" [ngClass]="!isFilter? 'hide':'show'"></div>

