<div class="main-container position-relative">
  <div class="page-title d-flex justify-content-md-between justify-content-end">
    <div class="xs-title">
      <span class="mr-2">Users</span>
      <span class="icon-filter filter-btn" id="spnFilter" (click)="isFilter=!isFilter"></span>
    </div>
    <div>
      <button class="btn-add btn-cust" id="btnAddUsers" routerLink="Add">
        <span class="fa fa-plus btn-icon-cust btn-icon-fill"></span> User
      </button>

    </div>
  </div>
  <!--desktop view start-->
  <div class="card border-0 mb-3 card-shadow">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-4">
        <div class="pagination-mat position-relative">
          <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage">
          </mat-paginator>
        </div>
      </div>
      <div class="widget-area-grid padding-0">
        <table class="table table-cust" id="tblUser">
          <thead>
            <tr>
              <th class="width25 ip-w-20">Name</th>
              <th class="width15 ip-w-15">Email</th>
              <th class="width10 ip-w-10">Mobile No.</th>
              <th class="width10 ip-w-10">Role</th>
              <th class="width10 ip-w-5">Active</th>
              <th class="width10 ip-w-5">Lock</th>
              <th class="width10 ip-w-35">Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="userLists?.length>0">
            <tr *ngFor="let user of dataSource">
              <td class="width25 ip-w-20"><img class="user-img" [src]="user.profileImageUrl"><span class="user-name">{{user.FirstName}} {{user.LastName}}</span></td>
              <td class="width15 ip-w-15">{{user.EmailAddress}}</td>
              <td class="width15 ip-w-10">{{user.MobileNumber}}</td>
              <td class="width15 ip-w-10">{{user.Role.Name}}</td>
              <td class="width15 ip-w-5">{{user.Role.IsActive}}</td>
              <td class="width15 ip-w-5">{{user.Role.IsLock}}</td>
              <td class="width15 ip-w-35">
                <!--<div class="action-btns btn-tbl-action">
                  <button type="button" *ngIf="((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'User',Operation: 'View' }))" (click)="viewUser(user)" title="View" id="btnView"><span class="fa fa-file-text-o"></span></button>
                  <button type="button" *ngIf="(user.Identifier != loggedInUserIdentifier) && ((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'User',Operation: 'Edit' }))" (click)="editUser(user)" title="Update" id="btnUpdate"><span class="fa fa-pencil-square-o"></span></button>
                  <button type="button" *ngIf="(user.Identifier != loggedInUserIdentifier) && ((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'User',Operation: 'Delete' }))" (click)="deleteUser(user)" title="Delete" id="btnDelete"><span class="fa fa-trash-o"></span></button>
                  <button type="button" (click)="unLockUser(user)" title="Unlock" id="btnUnlock" *ngIf="user.IsLocked && ((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'User',Operation: 'Unlock' }))"><span class="fa fa-unlock-alt"></span></button>
                </div>-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--desktop view end-->
  <div class="modal fade cust-modal bd-example-modal-lg" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="mb-4">
            <h6 class="font-weight-normal text-secondary">Are you sure, you want to delete this record?</h6>
          </div>
          <button class="btn-footer-fill mr-1 btn-sm" type="button" autofocus="" data-toggle="modal" data-target="#successModal" data-dismiss="modal" aria-label="Close">Yes</button>
          <button class="btn-footer-outline btn-sm" type="button" data-dismiss="modal" aria-label="Close">No</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade cust-modal bd-example-modal-lg" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="mb-4">
            <h6 class="font-weight-normal text-secondary">Record deleted successfully</h6>
          </div>
          <button class="btn-footer-fill mr-1 btn-sm" type="button" autofocus="" data-dismiss="modal" aria-label="Close">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-popup" [ngClass]="!isFilter? 'filter-popup':'filter-popup-show'">
    <div class="filter-head">
      <label class="m-0">Apply Filter</label>
    </div>
    <div class="filter-body-left d-flex flex-column stylescrollbar">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Email Id</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Role</label>
        <select class="form-control">
          <option> Select</option>
          <option> Admin</option>
          <option> Producer</option>
        </select>
      </div>
      <div class="form-group">
        <label>Lock Status</label>
        <div>
          <label class="switch d-block">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <label>Activation Status</label>
        <div>
          <label class="switch d-block">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <!--[ngClass]="filterClass"-->
    <div class="filter-footer">
      <ul class="nav">
        <li class="nav-item width33" title="Search">
          <a class="nav-link p-0">
            <span class="fa fa-check"></span>
          </a>
        </li>
        <li class="nav-item width33" title="Reset">
          <a class="nav-link p-0">
            <span class="fa fa-refresh"></span>
          </a>
        </li>
        <li class="nav-item width33" title="Close" (click)="closeFilter()">
          <a class="nav-link p-0">
            <span class="fa fa-close"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--<div class="overlay" [ngClass]="!isFilter? 'hide':'show'"></div>-->
