
  <div class="main-container">
    <div class="page-title">
      <span class="xs-title">Change Password</span>
    </div>
    <form autocomplete="on" id="frmUpdatePassword">
      <div class="card border-0 mb-2 card-shadow">
        <div class="card-body">
          <div class="row form-group">
            <div class="col-sm-4">
              <label for="inputOldPassword" id="lblOldPassword">Old Password</label>
              <div class="input-group">
                <input type="password" class="form-control" aria-describedby="basic-addon2" id="inputOldPassword">
                <div class="input-group-append">
                  <button class="btn input-group-text fa fa-eye" type="button"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label for="inputNewPassword" id="lblNewPassword">New Password</label>
              <div class="input-group">
                <input type="password" class="form-control" aria-describedby="basic-addon2" id="inputNewPassword" minlength="8">
                <div class="input-group-append">
                  <button class="btn input-group-text fa fa-eye" type="button"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label for="inputConfirmPassword" id="lblConfirmPassword">Confirm New Password</label>
              <div class="input-group">
                <input type="password" class="form-control" aria-describedby="basic-addon2" id="inputConfirmPassword">
                <div class="input-group-append">
                  <button class="btn input-group-text fa fa-eye" type="button"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-0 mt-4 mb-3 bg-transparent">
        <div class="card-body p-0">
          <button class="btn-footer-fill mr-2" id="btnSave">Update</button>
          <button class="btn-footer-outline" id="btnCancel" (click)="backClicked()">Cancel</button>
        </div>
      </div>
    </form>
  </div>


