<div class='top-bar fixed'>
  <button class="fa float-left hamburger-dashboard"
          [ngClass]="isWidgetSidebar? 'fa-arrow-left' : 'fa-bars'"
          (click)="isWidgetSidebar =!isWidgetSidebar"></button>
  <span class="dashboard-title d-none d-sm-block">Display Name | Home</span>

  <div class="page-title d-flex justify-content-md-between justify-content-end d-sm-none">
    <div class="xs-title">
      Display Name, Home
    </div>
  </div>
  <div class="float-right pr-2 d-md-block d-none">
    <button class="btn-footer-fill mt-2 mr-2" id="btnBack" title="Save" (click)="backClicked()"> Save</button>
    <button class="btn-footer-outline mt-2" id="btnBacktoForm" title="Cancel" (click)="backClicked()"> Cancel </button>
  </div>
  <div class="float-right pr-2 d-md-none">
    <span class="fa fa-check xs-position1 d-md-none" (click)="backClicked()"></span>
    <span class="fa fa-close xs-position2 d-md-none" (click)="backClicked()" id="spnMachineBack"></span>
  </div>
</div>

<div class="dashboard-container">
  
  <!--<a class="back-home icon-home" title="Back to Home" (click)="backClicked()"></a>-->
  <div class="widget-sidebar stylescrollbar" [ngClass]="isWidgetSidebar? 'show-sidebar show-sidebar-widget':'hide-sidebar'">
    <ul class="side-bar-ul">
      <li class="side-bar-li" title="Customer Information">
        <a routerlink="organisationUnit" (click)="isCustomerInformation()">
          <span class="nav-icon fa fa-address-book-o"></span><span class="nav-title"> Customer Information </span>
        </a>
      </li>
      <li class="side-bar-li">
        <a routerlink="organisationUnit" title="Account Information" (click)="isAccountInformation()">
          <span class="nav-icon fa fa-address-card-o"></span><span class="nav-title"> Account Information </span>
        </a>
      </li>
      <li class="side-bar-li">
        <a routerlink="organisationUnit" title="Summary at Glance" (click)="isSummaryatGlance()">
          <span class="nav-icon icon-widget-single-column2 fa-lg"></span><span class="nav-title"> Summary at Glance </span>
        </a>
      </li>
      <li class="side-bar-li" title="Reminder & Recommendation" (click)="isReminder()">
        <a routerlink="">
          <span class="nav-icon fa fa-bell-o fa-lg"></span><span class="nav-title">Reminder & Recommendation </span>
        </a>
      </li>
      <li class="side-bar-li" title="Investment Portfolio Risk" (click)="isInvestment()">
        <a routerlink="">
          <span class="nav-icon icon-rp-loss1 fa-lg"></span><span class="nav-title"> Investment Portfolio Risk </span>
        </a>
      </li>
      <li class="side-bar-li" title="Image" (click)="isImage()">
        <a routerlink="">
          <span class="nav-icon fa fa-image fa-lg"></span><span class="nav-title"> Image </span>
        </a>
      </li>
      <li class="side-bar-li" title="Video" (click)="isVideo()">
        <a routerlink="organisationUnit">
          <span class="nav-icon fa icon-videoWidget"></span><span class="nav-title">Video </span>
        </a>
      </li>
      <li class="side-bar-li" title="Analytics" (click)="isAnalytics()">
        <a routerlink="organisationUnit">
          <span class="nav-icon icon-AnalyticsWidget"></span><span class="nav-title">Analytics </span>
        </a>
      </li>
      <li class="side-bar-li" title="Available Balance" (click)="isAvailableBalance()">
        <a routerlink="organisationUnit">
          <span class="nav-icon icon-AvailableBalanceWidget"></span><span class="nav-title">Available Balance </span>
        </a>
      </li>
      <li class="side-bar-li" title="Transaction List" (click)="isTransactionList()">
        <a routerlink="organisationUnit">
          <span class="nav-icon icon-widget-multi-column2"></span><span class="nav-title">Transaction List </span>
        </a>
      </li>
      <li class="side-bar-li" title="Saving Trend" (click)="isSavingTrend()">
        <a routerlink="organisationUnit">
          <span class="nav-icon icon-widget-line-chart2"></span><span class="nav-title">Saving Trend </span>
        </a>
      </li>
      <li class="side-bar-li" title="Transaction Mix" (click)="isTransactionMix()">
        <a routerlink="organisationUnit">
          <span class="nav-icon icon-TransactionMixWidget"></span><span class="nav-title">Transaction Mix </span>
        </a>
      </li>
      <li class="side-bar-li" title="Spending Trend" (click)="isSpendingTrend()">
        <a routerlink="organisationUnit">
          <span class="nav-icon icon-rp-production1"></span><span class="nav-title">Spending Trend </span>
        </a>
      </li>
      <li class="side-bar-li" title="News Alerts" (click)="isNewsAlerts()">
        <a routerlink="organisationUnit">
          <span class="nav-icon fa fa-newspaper-o"></span><span class="nav-title">News Alerts </span>
        </a>
      </li>
      <li class="side-bar-li" title="Transaction Details" (click)="isTransactionDetails()">
        <a routerlink="organisationUnit">
          <span class="nav-icon fa fa-credit-card"></span><span class="nav-title">Transaction Details </span>
        </a>
      </li>
      <li class="side-bar-li" title="Top 4 income sources" (click)="isTop4Income()">
        <a routerlink="organisationUnit">
          <span class="nav-icon icon-rp-quality1"></span><span class="nav-title">Top 4 income sources </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="overlay" [ngClass]="isWidgetSidebar? 'show' : 'hide'"></div>
  <div class="dashboard-inner-container">
    <div class="widget-container">
      <gridster [options]="options">
        <gridster-item [item]="{cols: 15, rows: 7, y: 0, x: 0}">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title"> Customer Information </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area">
              <div class="row">
                <div class="col-sm-4">
                  <h4 class="mb-4">Laura J Donald</h4>
                  <h6>4000 Executive Parkway, Saint Globin Rd #250,<br /> Canary Wharf, E94583</h6>
                </div>
                <div class="col-sm-8">
                  <video class="doc-video" controls>
                    <source src="assets/images/SampleVideo.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </gridster-item>

        <gridster-item [item]="{cols: 15, rows: 7, y: 0, x: 0}" *ngFor="let isCustomerInformationWidget of isCustomerInformationWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title"> Customer Information </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area">
              <div class="row">
                <div class="col-sm-4">
                  <h4 class="mb-4">Laura J Donald</h4>
                  <h6>4000 Executive Parkway, Saint Globin Rd #250,<br /> Canary Wharf, E94583</h6>
                </div>
                <div class="col-sm-8">
                  <video class="doc-video" controls>
                    <source src="assets/images/SampleVideo.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 5, rows: 7, y: 0, x: 0}">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title"> Account Information </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area">
              <div class="list-row-small" *ngFor="let list of accountInfoLists">
                <div class="list-middle-row">
                  <div class="list-text">
                    {{list.title}}
                  </div>
                  <label class="list-value mb-0">
                    {{list.value}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 5, rows: 7, y: 0, x: 0}" *ngFor="let isAccountInformationWidget of isAccountInformationWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title"> Account Information </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area">
              <div class="list-row-small" *ngFor="let list of accountInfoLists">
                <div class="list-middle-row">
                  <div class="list-text">
                    {{list.title}}
                  </div>
                  <label class="list-value mb-0">
                    {{list.value}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 15, rows: 6, y: 0, x: 0}" *ngFor="let isSummaryatGlanceWidget of isSummaryatGlanceWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title"> Summary at Glance </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area-grid padding-0">
              <div class="d-flex justify-content-center mb-4">
                <div class="pagination-mat position-relative d-md-block d-none">
                  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                                 [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage">
                  </mat-paginator>
                </div>
              </div>
              <table mat-table [dataSource]="dataSourceSummary" matSort class="table-cust">
                <!-- Position Column -->
                <ng-container matColumnDef="account">
                  <th class="width15" mat-header-cell *matHeaderCellDef mat-sort-header> Account </th>
                  <td mat-cell *matCellDef="let element"> {{element.account}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="currency">
                  <th class="width10" mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
                  <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                  <th class="width10" mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsSummary"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsSummary;"></tr>
              </table>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 5, rows: 6, y: 0, x: 0}" *ngFor="let isAnalyticsWidget of isAnalyticsWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title">Analytics </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area position-relative width100">
              <div class="widget-indicator-inner text-center">
                <img src="assets/images/Analytics.png" class="img-fluid" />
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 20, rows: 6, y: 0, x: 0}" *ngFor="let isTransactionListWidgets of isTransactionListWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title"> Transaction Grid </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area-grid padding-0">
              <div class="d-flex justify-content-center mb-4">
                <div class="pagination-mat position-relative d-md-block d-none">
                  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                                 [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage">
                  </mat-paginator>
                </div>
              </div>
              <table mat-table [dataSource]="dataSource" matSort class="table-cust">
                <!-- Position Column -->
                <ng-container matColumnDef="date">
                  <th class="width15" mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="type">
                  <th class="width10" mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="narration">
                  <th class="width20" mat-header-cell *matHeaderCellDef mat-sort-header> Narration </th>
                  <td mat-cell *matCellDef="let element"> {{element.narration}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="fcy">
                  <th class="width15" mat-header-cell *matHeaderCellDef mat-sort-header> FCY(GBP) </th>
                  <td mat-cell *matCellDef="let element"> {{element.fcy}} </td>
                </ng-container>

                <ng-container matColumnDef="currentRate">
                  <th class="width15" mat-header-cell *matHeaderCellDef mat-sort-header> Current Rate </th>
                  <td mat-cell *matCellDef="let element"> {{element.currentRate}} </td>
                </ng-container>

                <ng-container matColumnDef="lyc">
                  <th class="width15" mat-header-cell *matHeaderCellDef mat-sort-header> LCY(GBP) </th>
                  <td mat-cell *matCellDef="let element"> {{element.lyc}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th class="width10" mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="action-btns btn-tbl-action">
                      <button type="button" title="View" id="btnView" routerLink="View"><span class="fa fa-paper-plane-o"></span></button>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <!--mobile view start-->
              <div class="mobile-tile card-shadow d-md-none border-0" *ngFor="let list of ListData" style="display:none;">
                <div class="row mb-1">
                  <div class="col-5"> <label class="m-0"> Date </label> </div>
                  <div class="col-7">  {{list.date}} </div>
                </div>
                <div class="row mb-1">
                  <div class="col-5"> <label class="m-0"> Type </label> </div>
                  <div class="col-7">  {{list.type}} </div>
                </div>
                <div class="row mb-1">
                  <div class="col-5"> <label class="m-0">Narration </label> </div>
                  <div class="col-7">  {{list.narration}} </div>
                </div>
                <div class="row mb-1">
                  <div class="col-5"> <label class="m-0">FCY(GBP) </label> </div>
                  <div class="col-7">  {{list.fcy}} </div>
                </div>
                <div class="row mb-1">
                  <div class="col-5"> <label class="m-0"> Current Rate </label> </div>
                  <div class="col-7">  {{list.currentRate}} </div>
                </div>
                <div class="row mb-1">
                  <div class="col-5"> <label class="m-0">LCY(GBP) </label> </div>
                  <div class="col-7">  {{list.lyc}} </div>
                </div>
                <div class="text-center">
                  <div class="action-btns btn-tbl-action">
                    <button type="button"><span class="fa fa-paper-plane-o"></span></button>
                  </div>
                </div>
              </div>
              <!--mobile view end-->
            </div>

          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 10, rows: 5, y: 0, x: 0}" *ngFor="let isReminderWidget of isReminderWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title">Reminders & Recommendations </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area position-relative width100">
              <div class="widget-indicator-inner text-center">
                <img src="assets/images/ReminderWidget.PNG" class="img-fluid" />
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 20, rows: 5, y: 0, x: 0}" *ngFor="let isNewsAlertsWidget of isNewsAlertsWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title">News Alerts </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area position-relative width100">
              <div class="widget-indicator-inner text-center">
                <img src="assets/images/NewsAlertsWidget.PNG" class="img-fluid" />
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 20, rows: 5, y: 0, x: 0}" *ngFor="let isTransactionDetailsWidget of isTransactionDetailsWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title">Transaction Details </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area position-relative width100">
              <div class="widget-indicator-inner text-center">
                <img src="assets/images/TranscationDetailsWidget.PNG" class="img-fluid" />
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 10, rows: 5, y: 0, x: 0}" *ngFor="let isVideoWidget of isVideoWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title">Video </span>
              <div class="widget-action">
                <span class='fa fa-gear mr-2' (click)="isVideoConfigForm()"></span>
                <span class='fa fa-trash-o widget-delete-btn'></span>

              </div>
            </div>
            <div class="widget-area position-relative width100">
              <div class="widget-indicator-inner text-center">
                <img src="assets/images/VideoWidget.PNG" class="img-fluid" />
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 10, rows: 5, y: 0, x: 0}" *ngFor="let isImageWidget of isImageWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title">Image </span>
              <div class="widget-action">
                <span class='fa fa-gear mr-2' (click)="isImageConfigForm()"></span>
                <span class='fa fa-trash-o widget-delete-btn'></span>

              </div>

            </div>
            <div class="widget-area position-relative width100">
              <div class="widget-indicator-inner text-center">
                <img src="assets/images/ImageWidget.PNG" class="img-fluid" />
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 8, rows: 5, y: 0, x: 0}" *ngFor="let isAvailableBalanceWidget of isAvailableBalanceWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title">Available Balance </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area position-relative width100">
              <div class="widget-indicator-inner text-center">
                <img src="assets/images/AvailableBalanceWidget.PNG" class="img-fluid" />
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 7, rows: 5, y: 0, x: 0}" *ngFor="let isSavingTrendWidget of isSavingTrendWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title">Saving Trend </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area position-relative width100">
              <div class="widget-indicator-inner text-center">
                <img src="assets/images/SavingTrendWidget.PNG" class="img-fluid" />
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 7, rows: 5, y: 0, x: 0}" *ngFor="let isSpendingTrendWidget of isSpendingTrendWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title">Spending Trend </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area position-relative width100">
              <div class="widget-indicator-inner text-center">
                <img src="assets/images/SpendingTrendWidget.PNG" class="img-fluid" />
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 10, rows: 5, y: 0, x: 0}" *ngFor="let isInvestmentWidget of isInvestmentWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title">Investment Portfolio </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area position-relative width100">
              <div class="widget-indicator-inner text-center">
                <img src="assets/images/InvestmentPortfolioWidget.PNG" class="img-fluid" />
              </div>
            </div>
          </div>
        </gridster-item>
        <gridster-item [item]="{cols: 6, rows: 5, y: 0, x: 0}" *ngFor="let isTransactionMixWidget of isTransactionMixWidgets">
          <div class="widget">
            <div class="widget-header">
              <span class="widget-header-title">Transaction Mix </span>
              <div class="widget-action">
                <span class='fa fa-trash-o widget-delete-btn'></span>
              </div>
            </div>
            <div class="widget-area position-relative width100">
              <div class="widget-indicator-inner text-center">
                <img src="assets/images/TransactionMixWidget.PNG" class="img-fluid" />
              </div>
            </div>
          </div>
        </gridster-item>
      </gridster>
    </div>
  </div>
  <!--image config-->
  <div class="form-popup side-popup width340" [ngClass]="isImageConfig? 'show' : 'hide'">
    <div class="filter-head">
      <label class="m-0">Image Configuration</label>
    </div>
    <div class="filter-body stylescrollbar">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label> Personalize </label>
          <div>
            <label class="switch d-block">
              <input type="checkbox" checked (change)="isPersonalizeImage=!isPersonalizeImage">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label> Asset Library </label>
          <select class="form-control" [disabled]="!isPersonalizeImage">
            <option>Select</option>
            <option>Option 01</option>
            <option>Option 02</option>
            <option>Option 03</option>
            <option>Option 04</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label> Assets </label>
          <select class="form-control"  [disabled]="!isPersonalizeImage">
            <option>Select</option>
            <option>Option 01</option>
            <option>Option 02</option>
            <option>Option 03</option>
            <option>Option 04</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label> URL </label>
          <input type="text" class="form-control"  [disabled]="!isPersonalizeImage" />
        </div>
      </div>
    </div>
    <div class="filter-footer">
      <ul class="nav nav-toolbar">
        <li class="nav-item width50">
          <button (click)="isImageConfig = !isImageConfig" title="Save" id="btnCloseForm"
                  class="btn-footer-fill btn-block rounded-0 height100">
            <span class="fa fa-check"></span>
          </button>
        </li>
        <li class="nav-item width50">
          <button (click)="isImageConfig = !isImageConfig" title="Close" id="btnCloseForm"
                  class="btn-footer-fill btn-block rounded-0 height100">
            <span class="fa fa-close"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <!--video config-->
  <div class="form-popup side-popup width340" [ngClass]="isVideoConfig? 'show' : 'hide'">
    <div class="filter-head">
      <label class="m-0">Video Configuration</label>
    </div>
    <div class="filter-body stylescrollbar">
      <div class="row">
        <div class="col-sm-6 form-group">
          <label> Personalize </label>
          <div>
            <label class="switch d-block">
              <input type="checkbox" checked (change)="isPersonalize=!isPersonalize">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="col-sm-6 form-group">
          <label> Embedded </label>
          <div>
            <label class="switch d-block">
              <input type="checkbox" [disabled]="!isPersonalize" (change)="isEmbedded=!isEmbedded">
              <span class="slider round" [ngClass]="!isPersonalize ? 'disabled-cursor bg-secondary':''"></span>
            </label>
          </div>
        </div>
      </div>
      <div>
        <div class="row" *ngIf="isEmbedded">
          <div class="col-sm-12 form-group">
            <label> URL </label>
            <input type="text" class="form-control" [disabled]="!isPersonalize" />
          </div>
        </div>
        <div class="row" *ngIf="!isEmbedded">
          <div class="col-sm-12 form-group">
            <label> Asset Library </label>
            <select class="form-control" [disabled]="!isPersonalize">
              <option>Select</option>
              <option>Option 01</option>
              <option>Option 02</option>
              <option>Option 03</option>
              <option>Option 04</option>
            </select>
          </div>
        </div>
        <div class="row" *ngIf="!isEmbedded">
          <div class="col-sm-12 form-group">
            <label> Assets </label>
            <select class="form-control" [disabled]="!isPersonalize">
              <option>Select</option>
              <option>Option 01</option>
              <option>Option 02</option>
              <option>Option 03</option>
              <option>Option 04</option>
            </select>
          </div>
        </div>
      </div>
      
    </div>
    <div class="filter-footer">
      <ul class="nav nav-toolbar">
        <li class="nav-item width50">
          <button (click)="isVideoConfig = !isVideoConfig" title="Save" id="btnCloseForm"
                  class="btn-footer-fill btn-block rounded-0 height100">
            <span class="fa fa-check"></span>
          </button>
        </li>
        <li class="nav-item width50">
          <button (click)="isVideoConfig = !isVideoConfig" title="Close" id="btnCloseForm"
                  class="btn-footer-fill btn-block rounded-0 height100">
            <span class="fa fa-close"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="overlay a" id="divOverlayFilter" [ngClass]="!isImageConfig? 'hide':'show'"></div>
<div class="overlay a" id="divOverlayFilter" [ngClass]="!isVideoConfig? 'hide':'show'"></div>
