<div class='top-bar fixed'>
  <button class="fa float-left hamburger-dashboard"
          [ngClass]="isWidgetSidebar? 'fa-arrow-left' : 'fa-bars'"
          (click)="isWidgetSidebar =!isWidgetSidebar"></button>
  <span class="dashboard-title d-none d-sm-block">Display Name | {{PageName}} </span>
  <div class="page-title d-flex justify-content-md-between justify-content-end d-sm-none">
    <div class="xs-title">
      Display Name, {{PageName}}
    </div>
  </div>
  <div class="float-right pr-2 d-md-block d-none">
    <button class="btn-footer-fill mt-2 mr-2" id="btnBack" title="Save" (click)="OnSaveBtnClicked()"> Save</button>
    <button class="btn-footer-outline mt-2" id="btnBacktoForm" title="Cancel" (click)="backClicked()"> Cancel </button>
  </div>
  <div class="float-right pr-2 d-md-none">
    <span class="fa fa-check xs-position1 d-md-none" (click)="OnSaveBtnClicked()"></span>
    <span class="fa fa-close xs-position2 d-md-none" (click)="backClicked()" id="spnMachineBack"></span>
  </div>
</div>

<div class="dashboard-container">
  <div class="widget-sidebar stylescrollbar" [ngClass]="isWidgetSidebar? 'show-sidebar show-sidebar-widget':'hide-sidebar'">
    <ul class="side-bar-ul">
      <li class="side-bar-li" title={{widgetType.title}} *ngFor="let widgetType of widgetsArray">
          <a (click)="selectWidget(widgetType.type)">
              <span class="nav-icon fa" [ngClass]="{
                  'fa-address-book-o': widgetType.type == 'customerInformation',
                  'fa-address-card-o' : widgetType.type == 'accountInformation',
                  'fa-image fa-lg' : widgetType.type == 'image',
                  'icon-videoWidget' : widgetType.type == 'video',
                  'icon-widget-single-column2 fa-lg' : widgetType.type == 'summaryAtGlance',
                  'fa-bell-o fa-lg' : widgetType.type == 'reminderAndRecommendation',
                  'icon-rp-loss1 fa-lg' : widgetType.type == 'investmentPortfolioRisk',
                  'icon-AnalyticsWidget' : widgetType.type == 'analytics',
                  'icon-AvailableBalanceWidget' : widgetType.type == 'availableBalance',
                  'icon-widget-multi-column2' : widgetType.type == 'transactionList',
                  'icon-widget-line-chart2' : widgetType.type == 'savingTrend',
                  'icon-TransactionMixWidget' : widgetType.type == 'transactionMix',
                  'icon-rp-production1' : widgetType.type == 'spendingTrend',
                  'fa-newspaper-o' : widgetType.type == 'newsAlerts',
                  'fa-credit-card' : widgetType.type == 'transactionDetails',
                  'icon-rp-quality1' : widgetType.type == 'top4IncomeSources'
              }">
          </span><span class="nav-title"> {{widgetType.title}} </span>
          </a>
      </li>
  </ul>
  </div>

  <div class="overlay" [ngClass]="isWidgetSidebar? 'show' : 'hide'"></div>
  <div class="dashboard-inner-container">
    <div class="widget-container">
      <gridster [options]="options">        
        <gridster-item  [item]="item" *ngFor="let item of widgetsGridsterItemArray">
          <button class='fa fa-trash-o widget-action' (click)="removeItem($event,item)"></button>
          <button class='fa fa-gear mr-3 widget-action' (click)="isImageConfigForm()" *ngIf="item.value=='image'"></button>
          <button class='fa fa-gear mr-3 widget-action' (click)="isVideoConfigForm()" *ngIf="item.value=='video'"></button>
          <ndc-dynamic [ndcDynamicComponent]="item.component"></ndc-dynamic>
      </gridster-item>
      </gridster>
    </div>
  </div>

  <!--image config-->
  <div class="form-popup side-popup width340" [ngClass]="isImageConfig? 'show' : 'hide'">
    <div class="filter-head">
      <label class="m-0">Image Configuration</label>
    </div>
    <div class="filter-body stylescrollbar">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label> Personalize </label>
          <div>
            <label class="switch d-block">
              <input type="checkbox" checked (change)="isPersonalizeImage=!isPersonalizeImage">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label> Asset Library </label>
          <select class="form-control" [disabled]="!isPersonalizeImage">
            <option>Select</option>
            <option>Option 01</option>
            <option>Option 02</option>
            <option>Option 03</option>
            <option>Option 04</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label> Assets </label>
          <select class="form-control"  [disabled]="!isPersonalizeImage">
            <option>Select</option>
            <option>Option 01</option>
            <option>Option 02</option>
            <option>Option 03</option>
            <option>Option 04</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label> URL </label>
          <input type="text" class="form-control"  [disabled]="!isPersonalizeImage" />
        </div>
      </div>
    </div>
    <div class="filter-footer">
      <ul class="nav nav-toolbar">
        <li class="nav-item width50">
          <button (click)="isImageConfig = !isImageConfig" title="Save" id="btnCloseForm"
                  class="btn-footer-fill btn-block rounded-0 height100">
            <span class="fa fa-check"></span>
          </button>
        </li>
        <li class="nav-item width50">
          <button (click)="isImageConfig = !isImageConfig" title="Close" id="btnCloseForm"
                  class="btn-footer-fill btn-block rounded-0 height100">
            <span class="fa fa-close"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!--video config-->
  <div class="form-popup side-popup width340" [ngClass]="isVideoConfig? 'show' : 'hide'">
    <div class="filter-head">
      <label class="m-0">Video Configuration</label>
    </div>
    <div class="filter-body stylescrollbar">
      <div class="row">
        <div class="col-sm-6 form-group">
          <label> Personalize </label>
          <div>
            <label class="switch d-block">
              <input type="checkbox" checked (change)="isPersonalize=!isPersonalize">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="col-sm-6 form-group">
          <label> Embedded </label>
          <div>
            <label class="switch d-block">
              <input type="checkbox" [disabled]="!isPersonalize" (change)="isEmbedded=!isEmbedded">
              <span class="slider round" [ngClass]="!isPersonalize ? 'disabled-cursor bg-secondary':''"></span>
            </label>
          </div>
        </div>
      </div>
      <div>
        <div class="row" *ngIf="isEmbedded">
          <div class="col-sm-12 form-group">
            <label> URL </label>
            <input type="text" class="form-control" [disabled]="!isPersonalize" />
          </div>
        </div>
        <div class="row" *ngIf="!isEmbedded">
          <div class="col-sm-12 form-group">
            <label> Asset Library </label>
            <select class="form-control" [disabled]="!isPersonalize">
              <option>Select</option>
              <option>Option 01</option>
              <option>Option 02</option>
              <option>Option 03</option>
              <option>Option 04</option>
            </select>
          </div>
        </div>
        <div class="row" *ngIf="!isEmbedded">
          <div class="col-sm-12 form-group">
            <label> Assets </label>
            <select class="form-control" [disabled]="!isPersonalize">
              <option>Select</option>
              <option>Option 01</option>
              <option>Option 02</option>
              <option>Option 03</option>
              <option>Option 04</option>
            </select>
          </div>
        </div>
      </div>
      
    </div>
    <div class="filter-footer">
      <ul class="nav nav-toolbar">
        <li class="nav-item width50">
          <button (click)="isVideoConfig = !isVideoConfig" title="Save" id="btnCloseForm"
                  class="btn-footer-fill btn-block rounded-0 height100">
            <span class="fa fa-check"></span>
          </button>
        </li>
        <li class="nav-item width50">
          <button (click)="isVideoConfig = !isVideoConfig" title="Close" id="btnCloseForm"
                  class="btn-footer-fill btn-block rounded-0 height100">
            <span class="fa fa-close"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="overlay a" id="divOverlayFilter" [ngClass]="!isImageConfig? 'hide':'show'"></div>
<div class="overlay a" id="divOverlayFilter" [ngClass]="!isVideoConfig? 'hide':'show'"></div>
