<div class="main-container">
  <div class="page-title">
    <span class="xs-title">Schedule Details</span>
  </div>
  <div class="card border-0 mb-2 card-shadow">
    <div class="card-header bg-white d-flex justify-content-between">
      <div>
        <label class="m-0">Details</label>
      </div>
      <div>
        <button type="button" id="btnCollapsedDetails"
                class="toggle-btn border-0 p-0 bg-transparent"
                (click)="isCollapsedDetails = !isCollapsedDetails"
                [attr.aria-expanded]="!isCollapsedDetails"
                aria-controls="collapseDetails">
          <span class="fa" [ngClass]="!isCollapsedDetails? 'fa-angle-down' : 'fa-angle-right'"></span>
        </button>
      </div>
    </div>
    <div class="card-body" id="collapseDetails" [ngbCollapse]="isCollapsedDetails">
      <div class="row form-group">
        <div class="col-md-4 col-lg-4">
          <label id="lblName" for="inputRoleName">Name</label>
          <div>{{schedule.Name}}</div>
        </div>
        <div class="col-md-4 col-lg-4">
          <label id="lblTemplate" for="inputRoleName">Statement Definition</label>
          <div *ngIf="schedule.Statement!=undefined">{{schedule.Statement.Name}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <label>Recurrance Pattern</label>
          <div class="width100 form-group d-flex justify-content-start">
            <div class="custom-control custom-radio mr-2">
              <input class="custom-control-input" type="radio"
                     name="recpat" id="Daily" value="option1" disabled (click)="isDailyClicked()">
              <label class="custom-control-label dir-rtl" for="Daily">
                Daily
              </label>
            </div>
            <div class="custom-control custom-radio mr-2">
              <input class="custom-control-input" type="radio"
                     name="recpat" id="Weekly" value="option1" checked (click)="isWeeklyClicked()">
              <label class="custom-control-label dir-rtl" for="Weekly">
                Weekly
              </label>
            </div>
            <div class="custom-control custom-radio mr-2">
              <input class="custom-control-input" type="radio"
                     name="recpat" id="Monthly" value="option1" disabled (click)="isMonthlyClicked()">
              <label class="custom-control-label dir-rtl" for="Monthly">
                Monthly
              </label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio"
                     name="recpat" id="Yearly" value="option1"disabled (click)="isYearlyClicked()">
              <label class="custom-control-label dir-rtl" for="Yearly">
                Yearly
              </label>
            </div>
          </div>
          <!--<label id="lblTemplate" for="inputRoleName">Day of Month</label>
      <div>{{schedule.DayOfMonth}}</div>-->
        </div>
        <div class="col-md-4 col-lg-4 form-group">
          <label id="lblTemplate" for="inputRoleName">Time for the day (HH : MM) </label>
          <div>{{schedule.HourOfDay}} : {{schedule.MinuteOfDay}}</div>

        </div>

      </div>
      <div class="row" *ngIf="isDaily">
        <div class="col-md-8 col-lg-8 form-group">
          <div class="card border-0 mb-2 card-shadow">
            <div class="card-body d-flex justify-content-start">
              <div class="custom-control custom-radio mr-2">
                <input class="custom-control-input" type="radio"
                       name="dailytype" id="opDaily" value="optiondaily" checked>
                <label class="custom-control-label dir-rtl" for="opDaily">
                  <div class="form-inline" style="margin-top:-5px">
                    <div class="form-group xs-frm">
                      <label for="" class="dir-ltr">Day</label>
                      <input type="number" id="" class="form-control mx-sm-2 width20 sm-w-50" min="0">
                      <label> of every </label>
                      <input type="number" id="" class="form-control mx-sm-2 width20 sm-w-50" min="0" max="12">
                      <label> month(s) </label>
                    </div>
                  </div>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio"
                       name="dailytype" id="fullWeek" value="optiondaily">
                <label class="custom-control-label dir-rtl" for="fullWeek">
                  Every Weekday
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isWeekly">
        <div class="col-md-8 col-lg-8 form-group">
          <div class="card border-0 mb-2 card-shadow">
            <div class="card-body">
              <div class="form-inline mb-2">
                <div class="form-group xs-frm">
                  <label for="" class="dir-ltr">Recur every</label>
                  <input type="number" id="" class="form-control mx-sm-2 width20 sm-w-50" min="0">
                  <label> week(s) on: </label>
                </div>
              </div>
              <div class="d-flex justify-content-start">
                <div class="custom-control custom-checkbox mr-2">
                  <input class="custom-control-input" type="checkbox" checked value="">
                  <label class="custom-control-label">   Monday</label>
                </div>
                <div class="custom-control custom-checkbox mr-2">
                  <input class="custom-control-input" type="checkbox" checked value="">
                  <label class="custom-control-label">   Tuesday</label>
                </div>
                <div class="custom-control custom-checkbox mr-2">
                  <input class="custom-control-input" type="checkbox" checked value="">
                  <label class="custom-control-label">   Wednesday</label>
                </div>
                <div class="custom-control custom-checkbox mr-2">
                  <input class="custom-control-input" type="checkbox" checked value="">
                  <label class="custom-control-label">   Thursday</label>
                </div>
                <div class="custom-control custom-checkbox mr-2">
                  <input class="custom-control-input" type="checkbox" disabled value="">
                  <label class="custom-control-label">   Friday</label>
                </div>
                <div class="custom-control custom-checkbox mr-2">
                  <input class="custom-control-input" type="checkbox" disabled value="">
                  <label class="custom-control-label">   Saturday</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" disabled value="">
                  <label class="custom-control-label">   Sunday</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isMonthly">
        <div class="col-md-4 col-lg-4 form-group">
          <div class="card border-0 mb-2 card-shadow">
            <div class="card-body">
              <div class="form-inline">
                <div class="form-group xs-frm">
                  <label for="" class="dir-ltr">Day</label>
                  <input type="number" id="" class="form-control mx-sm-2 width20 sm-w-50" min="0" value="3">
                  <label> of every </label>
                  <input type="number" id="" class="form-control mx-sm-2 width20 sm-w-50" min="0" value="2" max="12">
                  <label> month(s) </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isYearly">
        <div class="col-md-8 col-lg-8 form-group">
          <div class="card border-0 mb-2 card-shadow">
            <div class="card-body">
              <div class="form-inline">
                <div class="form-group xs-frm">
                  <label for="" class="dir-ltr">Recur every </label>
                  <input type="number" id="" class="form-control mx-sm-2 width20 sm-w-50" min="0" value="2">
                  <label> year(s) on </label>
                  <select class="form-control  mx-sm-2 width30 sm-w-50">
                    <option>Select Month</option>
                    <option>Jan</option>
                    <option selected>Feb</option>
                    <option>Mar</option>
                    <option>May</option>
                    <option>Jun</option>
                    <option>Jul</option>
                    <option>Aug</option>
                    <option>Sept</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                  </select>
                  <input type="number" id="" value="2" class="form-control mx-sm-2 width20 sm-w-50" min="0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4 form-group">
          <label>Start Date</label>
          <div>{{schedule.StartDate  |  date:DataFormat}}</div>
        </div>
        <div class="col-md-4 col-lg-4 form-group">
          <label>End Date</label>
          <div>
            <span *ngIf='schedule.EndDate != undefined && schedule.EndDate.toString()!="0001-01-01T00:00:00"'> {{schedule.EndDate  |  date:DataFormat}}</span>
            <span *ngIf='schedule.EndDate != undefined && schedule.EndDate.toString()=="0001-01-01T00:00:00"'> - </span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="card border-0 mb-2 card-shadow">
    <div class="card-header bg-white d-flex justify-content-between">
      <div>
        <label class="m-0">Batches</label>
      </div>
      <div>
        <button type="button" id="btnCollapsedUsers"
                class="toggle-btn border-0 p-0 bg-transparent"
                (click)="getBatchMaster()"
                [attr.aria-expanded]="!isCollapsedBatch"
                aria-controls="collapseUsers">
          <span class="fa" [ngClass]="!isCollapsedBatch? 'fa-angle-down' : 'fa-angle-right'"></span>
        </button>
      </div>
    </div>
    <div class="card-body" id="CollapsedBatch" [ngbCollapse]="isCollapsedBatch">
      <div class="d-flex justify-content-center mb-4">
        <div class="pagination-mat position-relative">
          <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
          </mat-paginator>
        </div>
      </div>
      <div class="widget-area-grid padding-0">
        <table mat-table [dataSource]="dataSource" matSort class="table-cust" (matSortChange)="sortData($event)">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th class="width5 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element">{{element.Index}}</td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="BatchName">
            <th class="width30 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Batch Name </th>
            <td mat-cell *matCellDef="let element">{{element.BatchName}}</td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="IsExecuted">
            <th class="width13 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Is Executed </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.IsExecuted">Yes</span>
              <span *ngIf="!element.IsExecuted">No</span>

            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="IsDataReady">
            <th class="width12 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Is Data Ready </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.IsDataReady">Yes</span>
              <span *ngIf="!element.IsDataReady">No</span>

            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="DataExtractionDate">
            <th class="width15 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Data Extraction Day </th>
            <td mat-cell *matCellDef="let element"> {{element.DataExtractionDate   |  date:DataFormat}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="BatchExecutionDate">
            <th class="width15 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Batch Execution Day </th>
            <td mat-cell *matCellDef="let element"> {{element.BatchExecutionDate   |  date:DataFormat}}</td>
          </ng-container>
          
          <ng-container matColumnDef="Actions">
            <th class="width15 ip-w-15" mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
              <div class="action-btns btn-tbl-action">
                <button *ngIf="!element.IsExecuted && element.IsDataReady && element.Status=='New'" type="button" id="btnRunScheduleNow" title="Run Now" (click)="RunScheduleNow(element)">
                  <span class="fa fa-play text-success"></span>
                </button>
                <i class="fa fa-circle-o-notch fa-spin text-success" *ngIf="element.Status=='Running'" [title]="element.Status"></i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="element.Status=='Completed'" [title]="element.Status"></i>
                <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true" *ngIf="element.Status=='Failed' || element.Status=='BatchDataNotAvailable'" [title]="element.Status"></i>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </div>
  </div>
  <div class="card border-0 mt-4 mb-3 bg-transparent">
    <div class="card-body p-0">
      <button class="btn-footer-fill mr-2" id="btnSave" (click)="navigateToScheduleEdit()"
              *ngIf="schedule.IsActive && ((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Schedule Management',Operation: 'Edit' }))">
        Update
      </button>
      <button class="btn-footer-fill-delete bg-danger mr-2" *ngIf="((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Schedule Management',Operation: 'Delete' }))"
              id="btnDelete" (click)="deleteSchedule()">
        Delete
      </button>
      <button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>
    </div>
  </div>
</div>
