<div class="main-container">
  <div class="page-title">
    <span class="xs-title">Schedule Details</span>
  </div>
  <div class="card border-0 mb-2 card-shadow">
    <div class="card-body">
      <div class="row form-group">
        <div class="col-md-4 col-lg-4">
          <label id="lblName" for="inputRoleName">Name</label>
          <div>{{schedule.Name}}</div>
        </div>
        <div class="col-md-4 col-lg-4">
          <label id="lblTemplate" for="inputRoleName">Statement Definition</label>
          <div>{{schedule.Statement.Name}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4 form-group">
          <label id="lblTemplate" for="inputRoleName">Day of Month</label>
          <div>{{schedule.DayOfMonth}}</div>
        </div>
        <div class="col-md-4 col-lg-4 form-group">
          <label id="lblTemplate" for="inputRoleName">Time for the day (HH : MM) </label>
          <div>{{schedule.HourOfDay}}:{{schedule.MinuteOfDay}}</div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4 form-group">
          <label>Start Date</label>
          <div>{{schedule.StartDate  | date:"dd/MM/yyyy"}}</div>
        </div>
        <div class="col-md-4 col-lg-4 form-group">
          <label>End Date</label>
          <div>
            <span *ngIf='schedule.EndDate.toString()!="0001-01-01T00:00:00"'> {{schedule.EndDate  | date:"dd/MM/yyyy"}}</span>
            <span *ngIf='schedule.EndDate.toString()=="0001-01-01T00:00:00"'> - </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4 form-group">
          <label>Export To PDF</label>
          <div *ngIf="schedule.IsExportToPDF">Yes </div>
          <div *ngIf="!schedule.IsExportToPDF">No </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-0 mt-4 mb-3 bg-transparent">
    <div class="card-body p-0">
      <button class="btn-footer-fill mr-2" id="btnSave" (click)="navigateToScheduleEdit()"
              *ngIf="schedule.IsActive && ((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Schedule Management',Operation: 'Edit' }))">Update</button>
      <button class="btn-footer-fill-delete bg-danger mr-2" *ngIf="((userClaimsRolePrivilegeOperations | filterAuthorisedRole:{EntityName:'Schedule Management',Operation: 'Delete' }))"
              id="btnDelete" (click)="deleteSchedule()">Delete</button>
      <button class="btn-footer-outline" id="btnCancel" (click)="navigateToListPage()">Cancel</button>
    </div>
  </div>
</div>
